{% extends "pages/_includes/layout.njk" %} 
{% block title %} This is the left
side! {% endblock %} 
{% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Посетителям",
                    href: "visitors.html"
                }
            ]
        },
        "Для людей с особыми потребностями"
    )
}}
<div class="top-row">
    <h1>
        Фильм «Обитаемая луна» <br />
        + звёздная программа на выбор
    </h1>
    <div class="top-row__btns d-min-1024">
        <a href="#" class="btn-border"> Купить билет от 750 ₽ </a>
        <a href="#" class="btn-link">Подробнее</a>
    </div>
</div>
<div class="block">
    <div class="content-inner">
        <div class="content-inner__main">
            <div class="text">
                <h2>
                    Просто посетить Планетарий – недостаточно. Так хочется
                    унести с собой не просто воспоминания, но и космический
                    сувенир!
                </h2>
                <p>
                    В фойе Московского планетария работает Магазин Космических
                    Сувениров, где вы можете приобрести:
                </p>
                <ul>
                    <li>сувенирную продукцию, посвящённую Планетарию</li>
                    <li>
                        увлекательные книги о планетах и звездах, галактиках и
                        кометах об устройстве Вселенной
                    </li>
                    <li>глобусы и плакаты планет Солнечной системы</li>
                    <li>
                        занимательные тематические игрушки для детей и взрослых
                    </li>
                    <li>телескопы, микроскопы и другие оптические приборы</li>
                    <li>
                        индивидуальные экземпляры и осколки метеоритов, а также
                        памятные медали посвященные падениям известных
                        метеоритов
                    </li>
                    <li>
                        наборы для проведения опытов, различные минералы,
                        тематические журналы
                    </li>
                    <li>и многое другое!</li>
                </ul>

                <h2>Как использовать?</h2>
                <p>
                    Магазин работает ежедневно с 10:00 до 21:00 ежедневно, кроме
                    вторника.
                </p>
                <p>Магазин находится в фойе Планетария.</p>
                <p><a href="#" class="btn-border">Схема Планетария</a></p>
            </div>
        </div>
        <div class="content-inner__sidebar">
            <div class="sidebar-card _br">
                <svg
                    width="51"
                    height="51"
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                        fill="url(#Gradient)"
                    />
                </svg>

                <p>
                    По вопросам сотрудничества <br />
                    с магазином обращайтесь на почту: <br />
                    <a href="mailto:m.itina@planetarium-moscow.ru"
                        >m.itina@planetarium-moscow.ru</a
                    >
                </p>
            </div>
            <div class="sidebar-card _bg-white _br">
                <svg
                    width="51"
                    height="51"
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                        fill="url(#Gradient)"
                    />
                </svg>

                <p>
                    По вопросам сотрудничества <br />
                    с магазином обращайтесь на почту: <br />
                    <a href="mailto:m.itina@planetarium-moscow.ru"
                        >m.itina@planetarium-moscow.ru</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="content-inner _full-width">
        <div class="content-inner__main">
            <div class="text">
                <h2>
                    Просто посетить Планетарий – недостаточно. Так хочется
                    унести с собой не просто воспоминания, но и космический
                    сувенир!
                </h2>
                <p>
                    В фойе Московского планетария работает Магазин Космических
                    Сувениров, где вы можете приобрести:
                </p>
                <ul>
                    <li>сувенирную продукцию, посвящённую Планетарию</li>
                    <li>
                        увлекательные книги о планетах и звездах, галактиках и
                        кометах об устройстве Вселенной
                    </li>
                    <li>глобусы и плакаты планет Солнечной системы</li>
                    <li>
                        занимательные тематические игрушки для детей и взрослых
                    </li>
                    <li>телескопы, микроскопы и другие оптические приборы</li>
                    <li>
                        индивидуальные экземпляры и осколки метеоритов, а также
                        памятные медали посвященные падениям известных
                        метеоритов
                    </li>
                    <li>
                        наборы для проведения опытов, различные минералы,
                        тематические журналы
                    </li>
                    <li>и многое другое!</li>
                </ul>

                <h2>Как использовать?</h2>
                <p>
                    Магазин работает ежедневно с 10:00 до 21:00 ежедневно, кроме
                    вторника.
                </p>
                <p>Магазин находится в фойе Планетария.</p>
                <p><a href="#" class="btn-border">Схема Планетария</a></p>
            </div>
        </div>
        <div class="content-inner__sidebar">
            <div class="sidebar-card _bg-white _br">
                <svg
                    width="51"
                    height="51"
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                        fill="url(#Gradient)"
                    />
                </svg>

                <p>
                    По вопросам сотрудничества <br />
                    с магазином обращайтесь на почту: <br />
                    <a href="mailto:m.itina@planetarium-moscow.ru"
                        >m.itina@planetarium-moscow.ru</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="block">
        <div class="personal-grid">
            {{ persona.create({ img: "img/sovet-1.jpg", name: "Садовничий Виктор
            Антонович", desc: "
            <p>
                Ректор Московского государственного университета имени
                М.В.Ломоносова. Действительный член РАН по Отделению
                математических наук, секция прикладной математики и информатики,
                член Бюро Отделения математических наук РАН, член Президиума
                РАН, вице-президент РАН (с 2008). Почётный член Российской
                академии образования. Председатель Ученого совета Московского
                планетария.
            </p>
            " } ) }} {{ persona.create({ img: "img/sovet-2.jpg", name:
            "Черепащук Анатолий Михайлович", desc: "
            <p>
                Доктор физико-математических наук, профессор, академик РАН,
                научный руководитель Государственного астрономического института
                им. П. К. Штернберга Московского Государственного Университета
                им. М.В. Ломоносова, заместитель председателя Ученого совета
                Московского планетария.В студенческие и аспирантские годы
                (1961-1967 гг.) А.М. Черепащук проводил экскурсии для
                посетителей Московского Планетария на Астрономической Площадке.
            </p>
            " } ) }} {{ persona.create({ img: "img/sovet-3.jpg", name: "Вибе
            Дмитрий Зигфридови", desc: "
            <p>
                Доктор физико-математических наук, заведующий отделом физики и
                эволюции звезд Института астрономии РАН
            </p>
            " } ) }}
        </div>
        <div class="paginator">
            <a href="#" class="paginator__prev"></a>
            <a href="#" class="paginator__link _active">1</a>
            <a href="#" class="paginator__link">2</a>
            <a href="#" class="paginator__link">3</a>
            <a href="#" class="paginator__link">4</a>
            <a href="#" class="paginator__link">5</a>
            <a href="#" class="paginator__link">6</a>
            <a href="#" class="paginator__next"></a>
        </div>
    </div>
<div class="block another-programs">
    <div class="h1">Другие программы</div>
    <div class="slider-3 swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                {{ event.create({ img: "img/events.jpg", topTags:
                ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                Музей Урании (1 час)" } ], awards: [{ top:"ПОБЕДИТЕЛЬ",
                text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ СТРОЧКИ", year:"2023" },{
                top:"ПОБЕДИТЕЛЬ", text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ
                СТРОЧКИ", year:"2023" }] , title: "Фильм «Загадка Жизни»",
                info: [ { icon:"marker", text:"Малый Звёздный зал" }, {
                icon:"time", text:"60 минут" } ], desc: "
                <p>
                    В истории Московского планетария есть имена-легенды,
                    имена людей, судьбы которых неразрывно переплетены с его
                    судьбой. Одному из них, Станиславу Васильевичу Широкову,
                    30 ноября 2012 года исполнилось бы 80 лет.
                </p>
                ", btnText:"Купить билет от 750 ₽", link:"event.html",moreBtn:"true" } ) }}
            </div>
            <div class="swiper-slide">
                {{ event.create({ img: "img/gallery-3.jpg", topTags:
                ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                Музей Урании (1 час)" } ], title: "Звёздная программа «Небо
                в движении»", info: [ { icon:"marker", text:"Малый Звёздный
                зал" }, { icon:"time", text:"60 минут" } ], desc: "
                <p>
                    Сами того не замечая, мы все время находимся в движении
                    - даже, когда стоим на месте. Стоит поднять голову и
                    взглянуть на небо, как мы заметим движение небесных
                    объектов, звезд и планет. И даже наше собственное!
                </p>
                ", btnText:"Купить билет от 750 ₽", link:"event.html",moreBtn:"true" } ) }}
            </div>
            <div class="swiper-slide">
                {{ event.create({ img: "img/event-program.jpg", topTags:
                ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                Музей Урании (1 час)" } ], title: "Звёздная программа
                «Путеводные звезды»", info: [ { icon:"marker", text:"Малый
                Звёздный зал" }, { icon:"time", text:"60 минут" } ], desc: "
                <p>
                    Сами того не замечая, мы все время находимся в движении
                    - даже, когда стоим на месте. Стоит поднять голову и
                    взглянуть на небо, как мы заметим движение небесных
                    объектов, звезд и планет.
                </p>
                ", btnText:"Купить билет от 750 ₽", link:"event.html",moreBtn:"true" } ) }}
            </div>
        </div>
        <div class="slider-3__pagi"></div>
    </div>
</div> 
    <div class="white-block">
        {{
            gallerySlider.create("Фотогалерея", [
                "shop-1.jpg",
                "shop-2.jpg",
                "shop-3.jpg",
                "shop-1.jpg",
                "shop-2.jpg",
                "shop-3.jpg"
            ])
        }}
    </div>

</div>

{% endblock %}