{% extends "pages/_includes/layout.njk" %} {% block title %}Мероприятия{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                }
            ]
        },
        "Афиша"
    )
}}
<div class="top-row">
    <h1>Афиша</h1>
</div>
<div class="afisha">
    <div class="afisha__filters">
        <button class="btn-border filter-menu-open">
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5 8L12.5 8M12.5 8C12.5 6.89543 13.3954 6 14.5 6C15.6046 6 16.5 6.89543 16.5 8M12.5 8C12.5 9.10457 13.3954 10 14.5 10C15.6046 10 16.5 9.10457 16.5 8M16.5 8L19 8M5 16L7.5 16M7.5 16C7.5 14.8954 8.39543 14 9.5 14C10.6046 14 11.5 14.8954 11.5 16M7.5 16C7.5 17.1046 8.39543 18 9.5 18C10.6046 18 11.5 17.1046 11.5 16M11.5 16H19"
                    stroke="url(#Gradient)"
                    stroke-width="1.4"
                />
            </svg>

            <span>Фильтры</span>
        </button>
        <div class="filter-popup">
            <div class="filter-popup__head">
                <div class="filter-popup__title h2">Фильтры</div>
                <button class="filter-popup__close">
                    <svg
                        width="40"
                        height="40"
                        viewBox="0 0 40 40"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M13 13L27 27M13 27L27 13"
                            stroke="#0F0F0F"
                            stroke-width="1.6"
                        />
                    </svg>
                </button>
            </div>
            <form
                action="json/afisha.json"
                method="GET"
                class="filter-popup__body"
            >
                <ul class="filter-popup__categories">
                    <li>
                        <a class="_active" href="afisha.html">Все залы</a>
                    </li>
                    <li>
                        <a class="" href="afisha.html">Большой Звёздный зал</a>
                    </li>
                    <li>
                        <a class="" href="afisha.html">Лунариум</a>
                    </li>
                    <li>
                        <a class="" href="afisha.html">Малый Звёздный зал</a>
                    </li>
                    <li>
                        <a class="" href="afisha.html">4D-кинотеатр</a>
                    </li>
                    <li>
                        <a class="" href="afisha.html"
                            >Театр увлекательной науки</a
                        >
                    </li>
                    <li>
                        <a class="" href="afisha.html">Парк неба</a>
                    </li>
                    <li>
                        <a class="" href="afisha.html">Лекторий</a>
                    </li>
                </ul>
                <div class="filter-popup__columns">
                    <div class="filter-popup__block _open">
                        <div class="filter-popup__block-title">
                            Для кого подходит программа
                        </div>
                        <div class="filter-popup__block-body">
                            <label class="checkbox">
                                <input
                                    name="for_whom"
                                    value="Для детей"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text">Для детей</span>
                            </label>
                            <label class="checkbox">
                                <input
                                    name="for_whom"
                                    value="Для взрослых"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text">Для взрослых</span>
                            </label>
                            <label class="checkbox">
                                <input
                                    name="for_whom"
                                    value="Для романтиков"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text"
                                    >Для романтиков</span
                                >
                            </label>
                            <label class="checkbox">
                                <input
                                    name="for_whom"
                                    value="Для любителей космоса"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text"
                                    >Для любителей космоса</span
                                >
                            </label>
                            <label class="checkbox">
                                <input
                                    name="for_whom"
                                    value="Для туристических групп"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text"
                                    >Для туристических групп</span
                                >
                            </label>
                            <label class="checkbox">
                                <input
                                    name="for_whom"
                                    value="Для одиночного посещения"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text"
                                    >Для одиночного посещения</span
                                >
                            </label>
                        </div>
                    </div>
                    <div class="filter-popup__block _open">
                        <div class="filter-popup__block-title">
                            Тип программы
                        </div>
                        <div class="filter-popup__block-body">
                            <label class="checkbox">
                                <input
                                    name="type"
                                    value="Экскурсии"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text">Экскурсии</span>
                            </label>
                            <label class="checkbox">
                                <input
                                    name="type"
                                    value="Курсы и лекции"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text"
                                    >Курсы и лекции</span
                                >
                            </label>
                            <label class="checkbox">
                                <input
                                    name="for_typehom"
                                    value="Частные мероприятия"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text"
                                    >Частные мероприятия</span
                                >
                            </label>
                        </div>
                    </div>
                    <div class="filter-popup__block _open">
                        <div class="filter-popup__block-title">Язык</div>
                        <div class="filter-popup__block-body">
                            <label class="checkbox">
                                <input
                                    name="language"
                                    value="Русский"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text">Русский</span>
                            </label>
                            <label class="checkbox">
                                <input
                                    name="language"
                                    value="Английский"
                                    type="checkbox"
                                />
                                <span class="checkbox__indicator"></span>
                                <span class="checkbox__text">Английский</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-popup__block _open">
                        <div class="filter-popup__block-body">
                            <label class="tags-checkbox">
                                <input
                                    name="type"
                                    value="Эксклюзив"
                                    type="checkbox"
                                />
                                <span class="tags-checkbox__indicator"></span>
                                <span class="tags-checkbox__text"
                                    >Эксклюзив</span
                                >
                            </label>
                            <label class="tags-checkbox">
                                <input
                                    name="tags"
                                    value="Создано студией планетария"
                                    type="checkbox"
                                />
                                <span class="tags-checkbox__indicator"></span>
                                <span class="tags-checkbox__text"
                                    >Создано студией планетария</span
                                >
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-popup__btns">
                    <button type="submit" class="filter-popup__sbmt">
                        Применить
                    </button>
                    <button type="type" class="filter-popup__clear">
                        Сбросить все
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="afisha__grid">
        {{ event.create({ img: "img/e-1.jpg", title: "Звёздная программа «Небо в
        движении»", info: [ { icon:"marker", text:"Малый Звёздный зал" }, {
        icon:"time", text:"60 минут" } ], desc: "
        <p>
            Сами того не замечая, мы все время находимся в движении - даже,
            когда стоим на месте. Стоит поднять голову и взглянуть на небо, как
            мы заметим движение небесных объектов, звезд и планет. И даже наше
            собственное!
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-2.jpg", title: "Звёздная программа
        «Путеводные звезды»", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Сами того не замечая, мы все время находимся в движении - даже,
            когда стоим на месте. Стоит поднять голову и взглянуть на небо, как
            мы заметим движение небесных объектов, звезд и планет.
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-3.jpg", title: "Фильм «Динозавры.
        История выживших»", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Как многие дети, Селеста очарована динозаврами. Однажды, когда она
            готовилась к докладу об их вымирании, в её комнате появилось
            волшебное и мудрое существо – Лунч. Он задал ей загадочный вопрос: а
            что, если среди нас всё ещё есть динозавры?
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-4.jpg", topTags: ["Эксклюзив",
        "Создано студией планетария"], bottomTags:[ { text:"6+" }, {
        text:"Мультиязычный" }, { icon:"time", text:"46 минут" }, {
        icon:"marker", text:"Большой Звёздный зал" } ] , title: "Фильм «Буран.
        Освоение космоса» ", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Как человек покорял космос? Как менялись представления жителей Земли
            об устройстве окружающего мира? Об этом и многом другом
            рассказывается в фильме «Буран».
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-5.jpg", topTags: ["Эксклюзив",
        "Создано студией планетария"], bottomTags:[ { text:"6+" }, {
        text:"Мультиязычный" }, { icon:"time", text:"46 минут" }, {
        icon:"marker", text:"Большой Звёздный зал" } ] , title: "Фильм «Буран.
        Освоение космоса» ", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Увлекательная звёздная программа о том, как меняется движение неба в
            зависимости от места наблюдения.
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-6.jpg", topTags: ["Эксклюзив",
        "Создано студией планетария"], bottomTags:[ { text:"6+" }, {
        text:"Мультиязычный" }, { icon:"time", text:"46 минут" }, {
        icon:"marker", text:"Большой Звёздный зал" } ] , title: "Фильм «Мышата и
        Луна» ", info: [ { icon:"marker", text:"Малый Звёздный зал" }, {
        icon:"time", text:"60 минут" } ], desc: "
        <p>
            Увлекательная звёздная программа о том, как меняется движение неба в
            зависимости от места наблюдения.
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }}
    </div>
</div>
<div class="block">
    <div class="paginator">
        <a href="#" class="paginator__prev"></a>
        <a href="#" class="paginator__link _active">1</a>
        <a href="#" class="paginator__link">2</a>
        <a href="#" class="paginator__link">3</a>
        <a href="#" class="paginator__link">4</a>
        <a href="#" class="paginator__link">5</a>
        <a href="#" class="paginator__link">6</a>
        <a href="#" class="paginator__next"></a>
    </div>
</div>
{% endblock %}

