{% extends "pages/_includes/layout.njk" %} {% block title %}Шистовский
Константин Николаевич{% endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "О планетарии",
                    href: "about.html"
                },
                {
                    text: "Легенды планетария",
                    href: "legends.html"
                }
            ]
        },
        "Шистовский Константин Николаевич"
    )
}}

<div class="legend-page block">
    <div class="legend-page__content">
        <h1>Шистовский Константин Николаевич</h1>
        <p class="d-max-1024">
            <img src="img/legend-1.jpg" class="legend-page__img _br" alt="" />
        </p>
        <h2>Юность</h2>
        <p>
            Константин Николаевич родился 12 апреля 1899 года в деревне Лаптево
            (ныне город Ясногорск Тульской области) в семье медиков. В 1925 году
            он окончил астрономическое отделение физико-математического
            факультета Московского Государственного университета имени М.В.
            Ломоносова.
        </p>
        <h2>Вступление на должность директора Московского Планетария</h2>
        <p>
            Константин Николаевич родился 12 апреля 1899 года в деревне Лаптево
            (ныне город Ясногорск Тульской области) в семье медиков. В 1925 году
            он окончил астрономическое отделение физико-математического
            факультета Московского Государственного университета имени М.В.
            Ломоносова.
        </p>
        <h2>Путь инженера</h2>
        <p>
            Переняв зарубежный опыт первых планетариев, К.Н. Шистовский
            развивает его, совершенствуя аппарат конструкции В. Бауэрсфельда. Он
            изобретает множество приборов, которые создают эффект натурального
            неба. Самое первое усовершенствование, аппарат «Мерцающие звёзды»,
            позволяет достичь эффекта естественного неба, и впервые под куполом
            Московского планетария звезды начинают мерцать, как настоящие. К
            середине 1930-х годов по небу Звездного зала уже плывут облака,
            ходит комета, переливаются полярные сияния, идет августовский
            звездопад, происходят солнечные и лунные затмения и с огненным
            хвостом летит ракета Циолковского. Все эти чудеса создают небольшие
            приборы и аппараты, изобретенные и сконструированные Константином
            Николаевичем Шистовским. Всего за пятьдесят лет работы К.Н.
            Шистовский изобрёл более 60 оригинальных приборов и устройств,
            дополняющих аппарат Цейса, каких не было ни в одном планетарии мира
            до конца 50-х годов. В 1939 году многие изобретения и технические
            новинки К.Н. Шистовского демонстрировались на Всемирной выставке в
            Париже и были приобретены Парижским планетарием. В 1967 году на
            Международной выставке в Монреале приборы Шистовского обслуживали
            занимательный аттракцион «Путешествие в космос» <br />
            Работая в Московском планетарии, Константин Николаевич занимается
            астрономическими исследованиями. Он участвует в десяти экспедициях
            по наблюдению солнечных затмений. В 30-е годы ведутся важные для
            СССР разработки залежей Курской магнитной аномалии. Константин
            Николаевич проводит для них гравиметрические измерения. За эти труды
            в 1936 году он удостоен звания Героя Труда.
        </p>
        <h2>Путь просветителя</h2>
        <p>
            Любовь Константина Николаевича к астрономии увлекает многих. Читая
            небо как раскрытую книгу, ученый мечтает о том, чтобы сделать
            астрономию понятной каждому. За полвека своей работы в Московском
            планетарии Константин Николаевич Шистовский прочитал тысячи лекций
            для взрослых и детей. Он ищет новые возможности популяризации
            естественных наук; пишет научно-популярные статьи и книги; сочиняет
            поэму о солнечном затмении «Черное Солнце»; создает лекции-спектакли
            в стихах: «Звездный дом», «В ракете на Луну», «Сквозь тернии к
            звездам». Для самых юных посетителей он создал детскую лекцию о
            Планетарии, в которой каждая строка старого машинописного текста
            дышит любовью.
        </p>
        <p>
            «Смотрит в небо поскорей Галилео Галилей. <br />
            Посмотрел он на Юпитер <br />
            И от счастья слёзы вытер»
        </p>
        <p>
            До нашего времени сохранилась и его научно-биографическая
            повесть-лекция для юношества в стихах «Михаил Васильевич Ломоносов»,
            которую со всей скромностью автор посвящает памяти Сергея Ивановича
            Вавилова.
        </p>
        <blockquote>
            Работая в Московском планетарии, Константин Николаевич занимается
            астрономическими исследованиями. Он участвует в десяти экспедициях
            по наблюдению солнечных затмений. В 30-е годы ведутся важные для
            СССР разработки залежей Курской магнитной аномалии. Константин
            Николаевич проводит для них гравиметрические измерения. За эти труды
            в 1936 году он удостоен звания Героя Труда.
        </blockquote>
        <h2>Регалии</h2>
        <p>
            Большинство планетариев в Советском Союзе создаются при участии
            Константина Николаевича, а Московский планетарий становится
            всесоюзным центром популяризации знаний о Вселенной. Здесь рождаются
            новые планетарские технологии, разрабатываются научно-методические
            материалы, издаются комплекты диапозитивов. В мастерских создаются
            учебные телескопы и упрощённые планетарии (УП-2 и -4) конструкции
            Шистовского для школ и малых планетариев. <br />
            Константин Николаевич Шистовский — герой Труда, кандидат
            физико-математических наук; основатель, первый директор и лектор
            Московского планетария; популяризатор астрономии и космонавтики,
            талантливый изобретатель, почетный член ВАГО; член
            научно-методического совета Всесоюзного общества «Знание»,
            руководитель секции космонавтики при ЦК ДОСААФ СССР по
            астропроблемам, член киносекции Дома ученых. <br />
            Но все-таки главное детище Константина Николаевича Шистовского —
            Московский Звездный дом, Московский планетарий.
        </p>
        <blockquote>
            Но все-таки главное детище Константина Николаевича Шистовского —
            Московский Звездный дом, Московский планетарий.
        </blockquote>
    </div>
    <div class="legend-page__sidebar">
        <img
            src="img/legend-1.jpg"
            class="legend-page__img d-min-1024 _br"
            alt=""
        />
        <div class="legend-page__sidebar-scroll-wrap">
            <div class="legend-page__sidebar-fixed">
                <p>
                    «Ломоносов мир небесный <br />
                    Представлял бескрайней бездной. <br />
                    В сонмы звёзд он был влюблён, <br />
                    В эту бездну углублён. <br />
                    Звёзды солнцами считал он, <br />
                    С разной степенью накала, <br />
                    Понимал, как далеки <br />
                    Эти звёзды-огоньки… <br />
                    Ломоносов, как и Бруно, <br />
                    В небе видел земли, луны… <br />
                    Верил в жизнь земель-шаров, <br />
                    В обитаемость миров. <br />
                    Как всё это грандиозно! <br />
                    Выйдем с вами ночью звёздной <br />
                    Под сверкающий простор, <br />
                    Под брильянтовый шатёр. <br />
                    Вот смотрите! Здесь над нами <br />
                    Бездна с чудо-огоньками! <br />
                    Эта бездна звёзд полна! <br />
                    Им – числа нет! <br />
                    Бездне – дна! <br />
                    Звёзды – солнца! <br />
                    Вникнем только! <br />
                    Солнц таких сверкает сколько?... <br />
                    Разве нам их сосчитать? <br />
                    Разве глазом их объять? <br />
                    В беспредельной бездне этой <br />
                    Тоже кружатся планеты! <br />
                    Быть должны миры у них <br />
                    Наподобие земных… <br />
                    Может быть, и там есть люди? <br />
                    Но – загадывать не будем. <br />
                    Минет время, час придёт, –
                </p>
            </div>
        </div>
    </div>
</div>

<div class="white-block">
    {{
        gallerySlider.create("Фотогалерея", [
            "legend-gal-1.jpg",
            "legend-gal-2.jpg",
            "legend-gal-3.jpg",
            "legend-gal-1.jpg",
            "legend-gal-2.jpg",
            "legend-gal-3.jpg"
        ])
    }}
    <div class="block">
        <div class="h1">Другие легенды Планетария</div>
        <div class="slider-3 swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ persona.create({ img: "img/legend-1.jpg",date:"(1899 -
                    1981)",link:"legend.html" ,name: "Константин Николаевич
                    Шистовский", desc: "
                    <p>
                        Один из основателей Московского планетария, его первый
                        директор, первый лектор и инженер-конструктор. Полвека
                        истории Московского планетария связано его
                        именем.Константин Николаевич родился 12 апреля 1899 года
                        в деревне Лаптево (ныне город Ясногорск Тульской
                        области) в семье медиков. В 1925 году он окончил
                        астрономическое отделение физико-математического
                        факультета Московского Государственного университета
                        имени М.В. Ломоносова.
                    </p>
                    " } ) }}
                </div>
                <div class="swiper-slide">
                    {{ persona.create({ img: "img/legend-2.jpg", date:"(1893 -
                    1972)",link:"legend.html" , name: "Шишаков Виталий
                    Алексеевич", desc: "
                    <p>
                        Вряд ли мог представить себе когда-то
                        гимназист-старшеклассник Виталий Шишаков, сделав на
                        одном из собраний кружка Всесоюзного
                        астрономо-геодезического общества «Знание неба» доклад о
                        Марсе, что воспитание планетарских астрокружковцев
                        станет главной дорогой его будущей судьбы?
                    </p>
                    " } ) }}
                </div>
                <div class="swiper-slide">
                    {{ persona.create({ img: "img/legend-3.jpg", date:"(1932 -
                    2010)",link:"legend.html" , name: "Широков Станислав
                    Васильевич", desc: "
                    <p>
                        В истории Московского планетария есть имена-легенды,
                        имена людей, судьбы которых неразрывно переплетены с его
                        судьбой. Одному из них, Станиславу Васильевичу Широкову,
                        30 ноября 2012 года исполнилось бы 80 лет.
                    </p>
                    " } ) }}
                </div>
            </div>
            <div class="slider-3__pagi"></div>
        </div>
    </div>
</div>
{% endblock %}

