{% extends "pages/_includes/layout.njk" %} {% block title %}Звёздный классик {%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Курсы и лекции",
                    href: "lections.html"
                }
            ]
        },
        "Звёздный классик"
    )
}}
<div class="top-row">
    <h1>Звёздный классик</h1>
    <div class="top-row__btns d-min-1024">
        <a href="#" class="btn-border"> Купить билет от 750 ₽ </a>
    </div>
</div>
<div class="event-top">
    <div class="event-top__img">
        <img src="img/excursion-1.jpg" alt="" class="" />
    </div>
    <div class="event-top__left">
        <ul class="event-top__tags">
            <li>
                <span>6+</span>
            </li>
            <li>
                <span class="icon-time"></span>
                <span>40 минут</span>
            </li>
            <li>
                <span class="icon-time"></span>
                <span>Время проведения: будние дни c 10:00 до 19:00 МСК</span>
            </li>
            <li>
                <span class="icon-persons"></span>
                <span>Только для организованных групп</span>
            </li>
            <li>
                <span class="icon-persons"></span>
                <span>Максимальное количество человек в группе - 30 детей</span>
            </li>
        </ul>
    </div>
</div>
<div class="content-inner">
    <div class="content-inner__main">
        <div class="text block">
            <h2>О программе</h2>
            <p>
                С 1 сентября 2017 года предмет «Астрономия» включен в
                обязательную школьную программу. Московский Планетарий
                разработал цикл учебных лекций в помощь учащимся 9-11 классов,
                изучающих астрономию в школе. Лекции подготовлены методистами
                Планетария и профессиональными астрономами. Лекции
                разрабатываются по методике Планетария с учетом возрастных
                особенностей и школьной программы, их проводят профессиональные
                астрономы, а все факты лекций основаны на научных данных.
                «Звездные уроки» повышают интерес к естественно-научным
                дисциплинам и науке в целом.
            </p>
            <div class="video">
                <button
                    class="video__play js-open-video"
                    data-src="./content/planetarium_full.mp4"
                >
                    <span>Play</span>
                </button>

                <div class="video__video">
                    <video
                        src="./content/planetarium.mp4"
                        loop
                        preload="metadata"
                        muted
                        poster="./content/video-planetarium-poster.webp"
                    ></video>
                </div>
            </div>
        </div>
        <div class="block">
            <h2>Список лекций</h2>
            <ul class="lections-list">
                <li class="_br">
                    <div class="h2">Звёздная программа Универсариума</div>
                    <p>
                        На этой лекции школьники познакомятся с развитием
                        представлений о Солнечной системе с древнейших времен до
                        наших дней. Они узнают, как была открыта Солнечная
                        система, чем отличается геоцентрическая модель от
                        гелиоцентрической.
                    </p>
                </li>
                <li class="_br">
                    <div class="h2">Солнце</div>
                    <p>
                        На этой лекции школьники познакомятся с развитием
                        представлений о Солнечной системе с древнейших времен до
                        наших дней. Они узнают, как была открыта Солнечная
                        система, чем отличается геоцентрическая модель от
                        гелиоцентрической.
                    </p>
                </li>
                <li class="_br">
                    <div class="h2">Планеты земной группы</div>
                    <p>
                        В этой лекции рассказывается о ближайших к Солнцу
                        планетах: Меркурии, Венере, Земле и Марсе, которые
                        астрономы называют планетами земной группы. Их
                        объединяет относительная близость к Солнцу...
                    </p>
                </li>
                <li class="_br">
                    <div class="h2">Мир звёзд</div>
                    <p>
                        На этой лекции школьники познакомятся с развитием
                        представлений о Солнечной системе с древнейших времен до
                        наших дней. Они узнают, как была открыта Солнечная
                        система, чем отличается геоцентрическая модель от
                        гелиоцентрической.
                    </p>
                </li>
                <li class="_br">
                    <div class="h2">Планеты-гиганты</div>
                    <p>
                        Лекция знакомит школьников с планетами-гигантами
                        Солнечной системы - Юпитером, Сатурном, Ураном и
                        Нептуном, и дает подробное описание каждой из этих
                        планет и их спутников.
                    </p>
                </li>
                <li class="_br">
                    <div class="h2">Мир галактик</div>
                    <p>
                        На этой лекции школьники более подробно и наглядно
                        познакомятся с многообразным миром галактик. Они узнают,
                        как различаются галактики по внешнему виду, из чего
                        состоят...
                    </p>
                </li>
            </ul>
        </div>

        <div class="block text">
            <h2>Экскурсоводы</h2>
            <div class="guides-swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-2.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Герасимов Михаил Анатольевич
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-3.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Книголюбов Евгений Тищенко
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-4.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Константовна Маргарита Идраковна
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-5.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Константовна Маргарита Идраковна
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner__sidebar">
        <div class="sidebar-card _br">
            <div class="sidebar-card__head">
                <svg
                    width="51"
                    height="51"
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                        fill="url(#Gradient)"
                    />
                </svg>
            </div>
            <h3>
                <color>Памятка посетителя</color>
            </h3>
            <p>
                Минимальное количество – <b>1 человек</b><br />
                Максимальное количество — <b>3 человека</b>
            </p>
        </div>
        <div class="sidebar-card _br">
            <div class="sidebar-card__head">
                <svg
                    width="68"
                    height="41"
                    viewBox="0 0 68 41"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1 14.5312C3.48387 14.5312 2.254 24.4563 3.48387 24.4563C4.861 24.4563 5.488 8.85975 7.03226 8.85975C8.491 8.85975 8.524 31.9001 10.2258 31.9001C11.9276 31.9001 12.319 0.707031 13.7742 0.707031C15.289 0.707031 14.827 39.6983 16.9677 39.6983C18.985 39.6983 18.886 0.707031 20.5161 0.707031C22.153 0.707031 21.889 31.9001 23.7097 31.9001C25.816 31.9001 25.1855 8.85975 26.9032 8.85975C28.621 8.85975 28.8172 24.4563 30.4516 24.4563C32.086 24.4563 32.284 14.5312 34 14.5312C35.584 14.5312 35.65 24.4563 37.1936 24.4563C38.851 24.4563 39.016 8.85975 40.7419 8.85975C42.4679 8.85975 41.986 31.9001 43.9355 31.9001C45.885 31.9001 45.583 0.707031 47.129 0.707031C48.784 0.707031 48.487 39.6983 50.6774 39.6983C52.711 39.6983 52.15 0.707031 53.871 0.707031C55.516 0.707031 54.9997 31.9001 57.4194 31.9001C59.839 31.9001 58.354 8.85975 60.6129 8.85975C62.8718 8.85975 62.7249 24.4563 63.8065 24.4563C64.888 24.4563 64.2034 14.5312 67 14.5312"
                        stroke="url(#Gradient)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <p>Услуга «РАДИОГИД» на русском языке — <b>2500 ₽ за группу</b></p>
            <p>
                Услуга «РАДИОГИД» на англиском языке — <b>2500 ₽ за группу</b>
            </p>
        </div>
        <div class="sidebar-card _br">
            <div class="sidebar-card__head">
                <svg
                    width="55"
                    height="55"
                    viewBox="0 0 55 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M36.3293 34.5458L18.6707 19.7314M40.1417 25.1416L14.8581 29.1357M35.0344 15.0716L19.9659 39.2056M22.8827 12.0216L32.1174 42.2556M11.4572 19.9977L43.5428 34.2795M9.81122 35.3809L45.1768 18.8963M21.5271 47.9804L33.4729 6.29677M40.6137 47.339L14.386 6.93822M54 30.8664L1 23.4108M49.9455 7.62813L5.05468 46.6491M27.494 0.644531V53.6327"
                        stroke="url(#Gradient)"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <div class="sidebar-card__sale">-10%</div>
            </div>
            <p>
                Будние дни: <br />
                <b>до 15:00 — 630 ₽/шт <span class="_old-price">700 ₽</span></b>
            </p>
            <p>
                Будние дни: <br />
                <b
                    >после 15:00 — 680 ₽/шт
                    <span class="_old-price">750 ₽</span></b
                >
            </p>
            <p>
                Выходные дни: <br />
                <b>770 ₽/шт <span class="_old-price">850 ₽</span></b>
            </p>
        </div>
    </div>
</div>

<div class="white-block">
    <div class="block lections-prices">
        <div class="lections-prices__head">
            <div class="h1">Цены и условия</div>
            <div class="lections-prices__filters overfolow-x">
                <button class="lections-prices__filter _active" data-slide="0">
                    Онлайн лекции
                </button>
                <button class="lections-prices__filter" data-slide="1">
                    Групповые лекции
                </button>
                <button class="lections-prices__filter" data-slide="2">
                    Выездные лекции
                </button>
                <button class="lections-prices__filter" data-slide="3">
                    Абонементы
                </button>
            </div>
        </div>
        <div class="lections-prices__body">
            <div class="lections-prices__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide lections-price">
                        <h2>Условия</h2>
                        <ul class="lections-price__tags">
                            <li>
                                <span class="icon-person"></span>
                                <span>Школьникам</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span>Длительность: 40 минут</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Максимальное количество человек в группе -
                                    30 детей</span
                                >
                            </li>
                        </ul>
                        <div class="text">
                            <p>
                                Лекции разрабатываются по методике Планетария с
                                учетом возрастных особенностей и школьной
                                программы, их проводят профессиональные
                                астрономы, а все факты лекций основаны на
                                научных данных. «Звездные уроки» повышают
                                интерес к естественно-научным дисциплинам и
                                науке в целом.
                            </p>
                            <p>
                                Лекции проводятся для организованных групп
                                школьников на онлайн-платформе Zoom в будние дни
                                c 10:00 до 19:00 часов МСК.
                            </p>
                            <p>
                                Можно купить отдельно одну лекцию или сразу
                                целый цикл и распределить занятия на разные
                                даты. Оплата производится по безналичному
                                расчету для юридических и физических лиц.
                            </p>
                            <p>
                                <color
                                    >Для заказа лекции нужно оформить заявку.
                                    Менеджер свяжется с вами в течение 5 рабочих
                                    дней со дня оформления заявки.</color
                                >
                            </p>
                            <div class="h2 lections-price__price-row">
                                Стоимость одной лекции –
                                <color>4 000₽</color>
                            </div>
                            <a href="/" class="btn-border">Оформить заявку</a>
                        </div>
                    </div>
                    <div class="swiper-slide lections-price">
                        <h2>Условия</h2>
                        <ul class="lections-price__tags">
                            <li>
                                <span class="icon-person"></span>
                                <span>Школьникам</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span>Длительность: 40 минут</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Максимальное количество человек в группе -
                                    30 детей</span
                                >
                            </li>
                        </ul>
                        <div class="text">
                            <p>
                                Лекции разрабатываются по методике Планетария с
                                учетом возрастных особенностей и школьной
                                программы, их проводят профессиональные
                                астрономы, а все факты лекций основаны на
                                научных данных. «Звездные уроки» повышают
                                интерес к естественно-научным дисциплинам и
                                науке в целом.
                            </p>
                            <p>
                                Лекции проводятся для организованных групп
                                школьников на онлайн-платформе Zoom в будние дни
                                c 10:00 до 19:00 часов МСК.
                            </p>
                            <p>
                                Можно купить отдельно одну лекцию или сразу
                                целый цикл и распределить занятия на разные
                                даты. Оплата производится по безналичному
                                расчету для юридических и физических лиц.
                            </p>
                            <p>
                                <color
                                    >Для заказа лекции нужно оформить заявку.
                                    Менеджер свяжется с вами в течение 5 рабочих
                                    дней со дня оформления заявки.</color
                                >
                            </p>
                            <div class="h2 lections-price__price-row">
                                Стоимость одной лекции –
                                <color>4 000₽</color>
                            </div>
                            <a href="/" class="btn-border">Оформить заявку</a>
                        </div>
                    </div>
                    <div class="swiper-slide lections-price">
                        <h2>Условия</h2>
                        <ul class="lections-price__tags">
                            <li>
                                <span class="icon-person"></span>
                                <span>Школьникам</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span>Длительность: 40 минут</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Максимальное количество человек в группе -
                                    30 детей</span
                                >
                            </li>
                        </ul>
                        <div class="text">
                            <p>
                                Лекции разрабатываются по методике Планетария с
                                учетом возрастных особенностей и школьной
                                программы, их проводят профессиональные
                                астрономы, а все факты лекций основаны на
                                научных данных. «Звездные уроки» повышают
                                интерес к естественно-научным дисциплинам и
                                науке в целом.
                            </p>
                            <p>
                                Лекции проводятся для организованных групп
                                школьников на онлайн-платформе Zoom в будние дни
                                c 10:00 до 19:00 часов МСК.
                            </p>
                            <p>
                                Можно купить отдельно одну лекцию или сразу
                                целый цикл и распределить занятия на разные
                                даты. Оплата производится по безналичному
                                расчету для юридических и физических лиц.
                            </p>
                            <p>
                                <color
                                    >Для заказа лекции нужно оформить заявку.
                                    Менеджер свяжется с вами в течение 5 рабочих
                                    дней со дня оформления заявки.</color
                                >
                            </p>
                            <div class="h2 lections-price__price-row">
                                Стоимость одной лекции –
                                <color>4 000₽</color>
                            </div>
                            <a href="/" class="btn-border">Оформить заявку</a>
                        </div>
                    </div>
                    <div class="swiper-slide lections-price">
                        <h2>Условия</h2>
                        <ul class="lections-price__tags">
                            <li>
                                <span class="icon-person"></span>
                                <span>Школьникам</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span>Длительность: 40 минут</span>
                            </li>
                            <li>
                                <span class="icon-time"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Время проведения: будние дни c 10:00 до
                                    19:00 МСК</span
                                >
                            </li>
                            <li>
                                <span class="icon-persons"></span>
                                <span
                                    >Максимальное количество человек в группе -
                                    30 детей</span
                                >
                            </li>
                        </ul>
                        <div class="text">
                            <p>
                                Лекции разрабатываются по методике Планетария с
                                учетом возрастных особенностей и школьной
                                программы, их проводят профессиональные
                                астрономы, а все факты лекций основаны на
                                научных данных. «Звездные уроки» повышают
                                интерес к естественно-научным дисциплинам и
                                науке в целом.
                            </p>
                            <p>
                                Лекции проводятся для организованных групп
                                школьников на онлайн-платформе Zoom в будние дни
                                c 10:00 до 19:00 часов МСК.
                            </p>
                            <p>
                                Можно купить отдельно одну лекцию или сразу
                                целый цикл и распределить занятия на разные
                                даты. Оплата производится по безналичному
                                расчету для юридических и физических лиц.
                            </p>
                            <p>
                                <color
                                    >Для заказа лекции нужно оформить заявку.
                                    Менеджер свяжется с вами в течение 5 рабочих
                                    дней со дня оформления заявки.</color
                                >
                            </p>
                            <div class="h2 lections-price__price-row">
                                Стоимость одной лекции –
                                <color>4 000₽</color>
                            </div>
                            <a href="/" class="btn-border">Оформить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lections-prices__label _br">
                <span
                    >Рекомендации <br />
                    для подключения <br />
                    в Zoom</span
                >
                <a href="/">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="block another-programs">
        <div class="h1">Другие курсы и лекции</div>
        <div class="slider-3 swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ event.create({ img: "img/events.jpg", topTags:
                    ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                    text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                    text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                    Музей Урании (1 час)" } ], awards: [{ top:"ПОБЕДИТЕЛЬ",
                    text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ СТРОЧКИ", year:"2023" },{
                    top:"ПОБЕДИТЕЛЬ", text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ
                    СТРОЧКИ", year:"2023" }] , title: "Фильм «Загадка Жизни»",
                    info: [ { icon:"marker", text:"Малый Звёздный зал" }, {
                    icon:"time", text:"60 минут" } ], desc: "
                    <p>
                        В истории Московского планетария есть имена-легенды,
                        имена людей, судьбы которых неразрывно переплетены с его
                        судьбой. Одному из них, Станиславу Васильевичу Широкову,
                        30 ноября 2012 года исполнилось бы 80 лет.
                    </p>
                    ", btnText:"Купить билет от 750 ₽", link:"event.html"
                    ,moreBtn:"true" } ) }}
                </div>
                <div class="swiper-slide">
                    {{ event.create({ img: "img/gallery-3.jpg", topTags:
                    ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                    text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                    text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                    Музей Урании (1 час)" } ], title: "Звёздная программа «Небо
                    в движении»", info: [ { icon:"marker", text:"Малый Звёздный
                    зал" }, { icon:"time", text:"60 минут" } ], desc: "
                    <p>
                        Сами того не замечая, мы все время находимся в движении
                        - даже, когда стоим на месте. Стоит поднять голову и
                        взглянуть на небо, как мы заметим движение небесных
                        объектов, звезд и планет. И даже наше собственное!
                    </p>
                    ", btnText:"Купить билет от 750 ₽", link:"event.html"
                    ,moreBtn:"true" } ) }}
                </div>
                <div class="swiper-slide">
                    {{ event.create({ img: "img/event-program.jpg", topTags:
                    ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                    text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                    text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                    Музей Урании (1 час)" } ], title: "Звёздная программа
                    «Путеводные звезды»", info: [ { icon:"marker", text:"Малый
                    Звёздный зал" }, { icon:"time", text:"60 минут" } ], desc: "
                    <p>
                        Сами того не замечая, мы все время находимся в движении
                        - даже, когда стоим на месте. Стоит поднять голову и
                        взглянуть на небо, как мы заметим движение небесных
                        объектов, звезд и планет.
                    </p>
                    ", btnText:"Купить билет от 750 ₽", link:"event.html"
                    ,moreBtn:"true" } ) }}
                </div>
            </div>
            <div class="slider-3__pagi"></div>
        </div>
    </div>
</div>
{% include 'components/video-popup/video-popup.njk' %} {% endblock %}

