{% extends "pages/_includes/layout.njk" %} {% block title %}Кафе Планетария{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Посетителям",
                    href: "visitors.html"
                }
            ]
        },
        "Кафе Планетария"
    )
}}
<div class="top-row">
    <h1>Кафе Планетария</h1>
</div>
<div class="top-block _br">
    <div class="top-block__img">
        <img src="img/cafe.jpg" alt="" class="" />
    </div>
</div>
<div class="content-inner">
    <div class="content-inner__main">
        <div class="text">
            <h2>
                Мы приглашаем всех наших гостей в уютное кафе, где всегда можно
                выпить чашечку чая в космических интерьерах!
            </h2>
            <p>
                После масштабной реновации кафе полностью преобразилось. Было
                решено отказаться от прежнего чрезмерного декора. В результате
                обнажились радиально расположенные арочно-балочные пролеты,
                образующие лучистую структуру внутреннего пространства. Такая
                лаконичность и минимализм в совокупности с яркой светодиодной
                подсветкой подчеркивают конструктивистские черты помещения.
            </p>
            <p>
                Найти кафе легко – оно находится возле Малого Звёздного зала и
                4D кинотеатра . Следуя указателям, нужно пройти через фойе на
                Уровень 0
            </p>
            <p>
                Посетить кафе может каждый, для этого не нужно предъявлять
                билет.
            </p>
        </div>
    </div>
    <div class="content-inner__sidebar">
        <div class="sidebar-card _bg-white _br">
            <svg
                width="51"
                height="51"
                viewBox="0 0 51 51"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                    fill="url(#Gradient)"
                />
            </svg>

            <p>
                Кафе работает <br /><color> ежедневно с 10:00 до 21:00, </color
                ><br />
                кроме вторника
            </p>
        </div>
        <div class="sidebar-card _bg-white _br">
            <svg
                width="51"
                height="51"
                viewBox="0 0 51 51"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                    fill="url(#Gradient)"
                />
            </svg>

            <p>
                В кафе можно отметить свой праздник, сделав предварительный
                заказ по телефону: <br />
                <a href="tel:84952217694">8 (495) 221-76-94</a>
            </p>
        </div>
    </div>
</div>

<div class="white-block">
    {{
        gallerySlider.create("Фотогалерея", [
            "cafe-1.jpg",
            "cafe-2.jpg",
            "cafe-3.jpg",
            "cafe-1.jpg",
            "cafe-2.jpg",
            "cafe-3.jpg"
        ])
    }}
</div>
{% endblock %}

