{% extends "pages/_includes/layout.njk" %} {% block title %}Правила бронирование
экскурсий{% endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Поситителям",
                    href: "visitors.html"
                }
            ]
        },
        "Правила бронирование экскурсий"
    )
}}
<div class="top-row">
    <h1>Правила бронирование экскурсий</h1>
</div>

<div class="content-inner _full-width">
    <div class="content-inner__main">
        <div class="block text">
            <p>
                Обращаем ваше внимание, проход на экскурсию возможен при
                оплаченном экскурсионном билете и по билетам в Большой Звездный
                зал.
            </p>
            <blockquote>
                Экскурсионный билет приобретается на группу. Например, Ваша
                группа состоит из ДВУХ человек Вы приобретаете ОДИН
                экскурсионный билет и ДВА билета в Большой звездный зал.
            </blockquote>
            <p>Экскурсии для групп:</p>
            <ul>
                <li>от 1 до 5 человек проводятся в будние и выходные дни</li>
                <li>от 1 до 15 человек проводятся в будние и выходные дни</li>
            </ul>
            <p>
                Количество человек в группе не должно превышать указанного в
                описании выбранного типа экскурсии
            </p>
            <p>
                Экскурсионное обслуживание групп, превышающих допустимое
                количество человек, не допускается
            </p>
            <p>
                Экскурсии в музее Урании проводятся перед началом сеанса в
                Большом Звездном зале. Вход в зал музея Урании по билетам
                начинается за час десять до начала сеанса в Большом Звездном
                зале. Вход в Большой Звездный зал начинается за 15 минут до
                сеанса. После начала сеанса вход в зал запрещен.
            </p>
            <p>
                В случае опоздания продолжительность экскурсии не увеличивается.
                Экскурсионное обслуживание осуществляется с учётом оставшегося
                времени экскурсии.
            </p>
            <p>
                В связи с внедрением автоматизированной системы оформления
                заказа экскурсии на сайте просим Вас обратить внимание на
                следующие важные моменты:
            </p>
            <ul>
                <li>
                    При оформлении заказа менеджер экскурсионного отдела НЕ
                    СВЯЗЫВАЕТСЯ с клиентом по телефону для присвоения номера
                    брони
                </li>
                <li>
                    При условии корректного заполнения всех пунктов в форме,
                    вами будут получены электронные билеты на оформленную вами
                    экскурсию и сеанс в Большой звездный зал на указанную
                    электронную почту.
                </li>
                <li>
                    Просим Вас ВНИМАТЕЛЬНО изучить полученные билеты и время
                    начала экскурсии
                </li>
                <li>
                    Просим Вас строго соблюдать все этапы оформления заявки, а
                    также правильно и внимательно заполнять форму. Ошибки в
                    указании Вашего контактного телефона, электронной почты и
                    количества человек в группе недопустимы
                </li>
                <li>
                    По всем дополнительным вопросам Вы можете связаться с
                    менеджером по электронной почте
                    <a href="mailto:e.krylovskaya@planetarium-moscow.ru"
                        >e.krylovskaya@planetarium-moscow.ru</a
                    >
                </li>
            </ul>
        </div>
        <div class="block text">
            <div class="h1">
                Правила оплаты экскурсионного обслуживания и билетов
            </div>
            <ul>
                <li>
                    Экскурсионное обслуживание и билеты бронируются
                    автоматически согласно Вашему заказу после оформления заявки
                    на сайте. Билеты будут отправлены Вам на почту после
                    оформления заявки.
                </li>
                <li>
                    В случае отказа Клиента от забронированного экскурсионного
                    обслуживания менее чем за три дня до даты проведения
                    соответствующей экскурсии АО «Планетарий» вправе не
                    возвращать Клиенту стоимость экскурсии, за исключением
                    случаев, предусмотренных законодательством.
                </li>
                <li>
                    Для оформления возврата нужно обратиться на почту
                    <a href="mailto:support@zapomni.ru">support@zapomni.ru</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-inner__sidebar">
        <div class="sidebar-card _bg-white _br">
            <div class="sidebar-card__head">
                <svg
                    width="51"
                    height="51"
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                        fill="url(#Gradient)"
                    />
                </svg>
            </div>
            <h3>
                <color>Важно!</color>
            </h3>
            <p>
                При прибытии экскурсионной группы
                <color>на автомобиле</color> необходимо направить информацию о
                машине (марка, номер, регион) сразу после оплаты заказа на
                электронную почту: <br /><a
                    href="mailto:e.krylovskaya@planetarium-moscow.ru"
                    >e.krylovskaya@planetarium-moscow.ru</a
                >
            </p>
        </div>
        <div class="sidebar-card _bg-white _br">
            <div class="sidebar-card__head">
                <svg
                    width="51"
                    height="51"
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                        fill="url(#Gradient)"
                    />
                </svg>
            </div>
            <h3>
                <color>Важно!</color>
            </h3>
            <p>
                При прибытии экскурсионной группы
                <color>на автобусе</color> на лобовом стекле транспортного
                средства должна быть закреплена табличка с номером школы,
                названием турагентства (или компании, осуществлявшей заказ).
                Сразу после оплаты заказа необходимо направить информацию о
                прибытии группы на автобусе на следующую электронную почту:
                <br /><a href="mailto:e.krylovskaya@planetarium-moscow.ru"
                    >e.krylovskaya@planetarium-moscow.ru</a
                >
            </p>
        </div>
    </div>
</div>

{% endblock %}

