{% extends "pages/_includes/layout.njk" %} {% block title %}Глобус Набокова {%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Научный блог",
                    href: "blogs.html"
                }
            ]
        },
        "Глобус Набокова"
    )
}}
<div class="top-row">
    <h1>Глобус Набокова</h1>
</div>
<div class="event-top">
    <div class="event-top__img">
        <img src="img/excursion-1.jpg" alt="" class="" />
    </div>
    <div class="event-top__left">
        <ul class="event-top__tags">
            <li>
                <span class="icon-load"></span>
                <span>1 из 3</span>
            </li>
            <li>
                <span class="icon-time"></span>
                <span>~ Время чтения: 5 минут</span>
            </li>
        </ul>
    </div>
</div>
<div class="content-inner">
    <div class="content-inner__main">
        <div class="text block">
            <div class="blog-date">15 мая 2023</div>
            <h2>Глобус Набокова</h2>
            <p>
                Чтобы увидеть звезды в ясный солнечный день, нужно опуститься на
                дно колодца. А полюбоваться картиной звездного неба в пасмурный
                день можно, лишь поднявшись на самолете выше верхней кромки
                облаков. Чтобы увидеть одно из красивейших созвездий —
                знаменитый Южный Крест, — нам, жителям северного полушария,
                необходимо совершить путешествие к экватору. Солнце и звезды
                одновременно можно наблюдать лишь с борта космического корабля.
            </p>
            <p>
                <big>
                    Очередное приближение к Земле кометы Галлея предстоит в 2060
                    году. Очевидцами ближайшего солнечного затмения на
                    европейской части страны станут уже наши далекие потомки —
                    оно произойдет в 2126 году. И только в XXXVIII веке земляне
                    смогут вновь увидеть комету Донати — одну из ярчайших комет
                    XIX столетия.
                </big>
            </p>
            <p>
                Но все эти и многие другие небесные явления можно в любой день
                увидеть на искусственном небе Московского Планетария. Как это
                стало возможным? История Планетария — увлекательный рассказ о
                тернистом пути к звездам.
            </p>
            <h2>Подготовка к строительству</h2>
            <p>
                В середине 1927г. по постановлению Московского Совета была
                создана Постоянная комиссия по постройке в Москве планетария. К
                тому времени в мире уже было открыто 12 планетариев — десять в
                Германии и два за ее пределами, в Вене и Риме. Третьим
                планетарием за пределами Германии и тринадцатым в мире стал
                Московский.
            </p>
            <p>
                К весне 1928 года торговое представительство СССР в Берлине
                окончательно договорилось с фирмой Цейсса о поставке
                проекционного аппарата «Планетарий» (заводской номер 13) и с
                фирмой Диккергоф о постройке матерчатого купола, служащего
                экраном для демонстрации неба.
            </p>
            <p>
                На строительство планетария Моссоветом было отпущено 250 000
                рублей.
            </p>
            <p>
                В эту сумму входила стоимость постройки не только самого здания,
                но и его оборудования, кино-аудитории, астрономического музея,
                библиотеки, аудиторий для кружков, лабораторных помещений, а
                также устройства на плоской крыше астрономической обсерватории
                для массового обслуживания экскурсий.
            </p>
            <p>
                Тем временем шло проектирование здания Московского Планетария.
            </p>
            <p>
                К работе были привлечены молодые архитекторы М.О.Барщ и М.И.
                Синявский, впоследствии — профессора Московского архитектурного
                института. Ими был представлен проект, выполненный в модном
                тогда стиле — «конструктивизме». Этот стиль появился в
                архитектуре в 20-х — 30-х годах ХХ века, и его задачей было —
                «конструирование окружающей среды путем создания сооружений в
                четких внешних формах, образованных из простых стереометрических
                тел и собранных на железобетонном каркасе». Строительство
                Московского Планетария было по тем временам событием
                значительным. Журнал «Огонек» 23 сентября 1928 года сообщал:
                «Замечательно, что при нашей материальной бедности, при нашем
                жестком импортном плане, мы ввозим и устанавливаем дорогостоящее
                сооружение, какого нет во многих столицах (...). Планетарий
                Москвы, по мысли его организаторов, явится чем-то вроде
                народного университета (...). Привлекая внешней эффектностью,
                планетарий вместе с тем поможет трудящимся расширить свой
                умственный кругозор. Поэтому постройку его нужно приветствовать
                как событие исключительной культурной важности».
            </p>
            <p>
                После соответствующих замечаний, Моссоветом был утвержден
                проект, на основе которого и было построено главное,
                цилиндрическое здание Московского Планетария на улице Садовой
                Кудринской, 5.
            </p>
            <h2>Первый камень</h2>
            <p>
                Первый камень в фундамент Московского Планетария был заложен в
                день осеннего равноденствия — 23 сентября 1928 года. <br />
                В середине февраля 1929 года в Москву прибыли специалисты из
                Германии для установки железного каркаса — сферического купола —
                экрана. Аппарат «Планетарий» в это время был уже в Москве и
                хранился в запакованных ящиках в помещении Московского отдела
                народного образования.
            </p>
            <p>
                В конце мая, когда зрительный зал был готов, начался монтаж
                аппарата «Планетарий» под контролем специалистов из фирмы
                Цейсса.
            </p>
            <p>
                августа 1929 года установка аппарата была полностью завершена.
                <br />
                На этот день и была назначена приемка и показ работы планетария
                руководству Моссовета. Показ вполне удовлетворил присутствующих,
                приемка аппаратуры была закончена. В течение августа, сентября и
                октября происходили закрытые просмотры.
            </p>
        </div>
    </div>
    <div class="content-inner__sidebar">
        <div class="blog-person">
            <img src="content/blog-photo.jpg" class="blog-person__img" alt="" />
            <p>Теофанис Мацопулос</p>
            <p>
                Продюсер полнокупольного кино, сотрудник Европейской южной
                обсерватории (ESO)
            </p>
        </div>
    </div>
</div>

<div class="white-block">
    <div class="block another-programs">
        <div class="h1">Другие статьи</div>
        <div class="slider-3 swiper js-trigger-animate">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ event.create({ img: "img/about-9.jpg", date: "29 мая
                    2023", title: "Венера: неожиданные открытия", info: [ {
                    icon:"date", text:"15 мая 2023" }, { icon:"load",
                    text:"Сложность 1" } ], desc: "
                    <p>
                        Астрономы обнаружили необычные явления на одной из лун
                        Юпитера
                    </p>
                    ", btnText:"Подробнее", link:"blog.html" } ) }}
                </div>
                <div class="swiper-slide">
                    {{ event.create({ img: "img/about-10.jpg", date: "29 мая
                    2023", title: "Марс: обнаружены следы воды!", info: [ {
                    icon:"date", text:"15 мая 2023" }, { icon:"load",
                    text:"Сложность 1" } ], desc: "
                    <p>
                        Астрономы обнаружили необычные явления на одной из лун
                        Юпитера
                    </p>
                    ", btnText:"Подробнее", link:"blog.html" } ) }}
                </div>
                <div class="swiper-slide">
                    {{ event.create({ img: "img/about-11.jpg", date: "29 мая
                    2023", title: "Квантовая механика в астрофизике", info: [ {
                    icon:"date", text:"15 мая 2023" }, { icon:"load",
                    text:"Сложность 1" } ], desc: "
                    <p>
                        Астрономы обнаружили необычные явления на одной из лун
                        Юпитера
                    </p>
                    ", btnText:"Подробнее", link:"blog.html" } ) }}
                </div>
            </div>
            <div class="slider-3__pagi"></div>
        </div>
    </div>
</div>
{% endblock %}

