{% extends "pages/_includes/layout.njk" %} {% block title %}Экскурсоводы{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Посетителям",
                    href: "#.html"
                }
            ]
        },
        "Экскурсоводы"
    )
}}

<h1>Экскурсоводы</h1>
<div class="text">
    <p>
        В Планетарии нет регулярных экскурсий: вы можете заказать их в удобное
        для вас время
    </p>
</div>
<div class="block">
    <div class="personal-grid">
        {{ persona.create({ img: "img/guide-1.jpg", name: "Рублева Фаина
        Борисовна", tags:[{text:"Русский"},{text:"Английский"},{text:"Ведет
        экскурсии для школьников",icon:'<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 7.99804C15 9.65396 13.657 10.9961 12 10.9961C10.343 10.9961 9 9.65396 9 7.99804C9 6.34212 10.343 5 12 5C13.657 5 15 6.34212 15 7.99804Z"
                stroke="white"
                stroke-width="1.4"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17 18.9909H7C7 18.2808 7 17.6053 7 16.9936C7 15.3368 8.34315 13.9941 10 13.9941H14C15.6569 13.9941 17 15.3368 17 16.9936C17 17.6053 17 18.2808 17 18.9909Z"
                stroke="white"
                stroke-width="1.4"
            /></svg
        >'}] ,desc: "
        <p>
            Научный директор АО «Планетарий», лауреат премии Правительства
            Российской Федерации в области образования, 2013 год.
        </p>
        " } ) }} {{ persona.create({ img: "img/guide-2.jpg", name: "Рублева
        Фаина Борисовна",
        tags:[{text:"Русский"},{text:"Английский"},{text:"Ведет экскурсии для
        школьников",icon:'<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 7.99804C15 9.65396 13.657 10.9961 12 10.9961C10.343 10.9961 9 9.65396 9 7.99804C9 6.34212 10.343 5 12 5C13.657 5 15 6.34212 15 7.99804Z"
                stroke="white"
                stroke-width="1.4"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17 18.9909H7C7 18.2808 7 17.6053 7 16.9936C7 15.3368 8.34315 13.9941 10 13.9941H14C15.6569 13.9941 17 15.3368 17 16.9936C17 17.6053 17 18.2808 17 18.9909Z"
                stroke="white"
                stroke-width="1.4"
            /></svg
        >'}] ,desc: "
        <p>
            Научный директор АО «Планетарий», лауреат премии Правительства
            Российской Федерации в области образования, 2013 год.
        </p>
        " } ) }} {{ persona.create({ img: "img/guide-3.jpg", name: "Рублева
        Фаина Борисовна",
        tags:[{text:"Русский"},{text:"Английский"},{text:"Ведет экскурсии для
        школьников",icon:'<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 7.99804C15 9.65396 13.657 10.9961 12 10.9961C10.343 10.9961 9 9.65396 9 7.99804C9 6.34212 10.343 5 12 5C13.657 5 15 6.34212 15 7.99804Z"
                stroke="white"
                stroke-width="1.4"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17 18.9909H7C7 18.2808 7 17.6053 7 16.9936C7 15.3368 8.34315 13.9941 10 13.9941H14C15.6569 13.9941 17 15.3368 17 16.9936C17 17.6053 17 18.2808 17 18.9909Z"
                stroke="white"
                stroke-width="1.4"
            /></svg
        >'}] ,desc: "
        <p>
            Научный директор АО «Планетарий», лауреат премии Правительства
            Российской Федерации в области образования, 2013 год.
        </p>
        " } ) }} {{ persona.create({ img: "img/guide-4.jpg", name: "Рублева
        Фаина Борисовна",
        tags:[{text:"Русский"},{text:"Английский"},{text:"Ведет экскурсии для
        школьников",icon:'<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 7.99804C15 9.65396 13.657 10.9961 12 10.9961C10.343 10.9961 9 9.65396 9 7.99804C9 6.34212 10.343 5 12 5C13.657 5 15 6.34212 15 7.99804Z"
                stroke="white"
                stroke-width="1.4"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17 18.9909H7C7 18.2808 7 17.6053 7 16.9936C7 15.3368 8.34315 13.9941 10 13.9941H14C15.6569 13.9941 17 15.3368 17 16.9936C17 17.6053 17 18.2808 17 18.9909Z"
                stroke="white"
                stroke-width="1.4"
            /></svg
        >'}] ,desc: "
        <p>
            Научный директор АО «Планетарий», лауреат премии Правительства
            Российской Федерации в области образования, 2013 год.
        </p>
        " } ) }} {{ persona.create({ img: "img/guide-5.jpg", name: "Рублева
        Фаина Борисовна",
        tags:[{text:"Русский"},{text:"Английский"},{text:"Ведет экскурсии для
        школьников",icon:'<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 7.99804C15 9.65396 13.657 10.9961 12 10.9961C10.343 10.9961 9 9.65396 9 7.99804C9 6.34212 10.343 5 12 5C13.657 5 15 6.34212 15 7.99804Z"
                stroke="white"
                stroke-width="1.4"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17 18.9909H7C7 18.2808 7 17.6053 7 16.9936C7 15.3368 8.34315 13.9941 10 13.9941H14C15.6569 13.9941 17 15.3368 17 16.9936C17 17.6053 17 18.2808 17 18.9909Z"
                stroke="white"
                stroke-width="1.4"
            /></svg
        >'}] ,desc: "
        <p>
            Научный директор АО «Планетарий», лауреат премии Правительства
            Российской Федерации в области образования, 2013 год.
        </p>
        " } ) }} {{ persona.create({ img: "img/guide-6.jpg", name: "Рублева
        Фаина Борисовна",
        tags:[{text:"Русский"},{text:"Английский"},{text:"Ведет экскурсии для
        школьников",icon:'<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 7.99804C15 9.65396 13.657 10.9961 12 10.9961C10.343 10.9961 9 9.65396 9 7.99804C9 6.34212 10.343 5 12 5C13.657 5 15 6.34212 15 7.99804Z"
                stroke="white"
                stroke-width="1.4"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17 18.9909H7C7 18.2808 7 17.6053 7 16.9936C7 15.3368 8.34315 13.9941 10 13.9941H14C15.6569 13.9941 17 15.3368 17 16.9936C17 17.6053 17 18.2808 17 18.9909Z"
                stroke="white"
                stroke-width="1.4"
            /></svg
        >'}] ,desc: "
        <p>
            Научный директор АО «Планетарий», лауреат премии Правительства
            Российской Федерации в области образования, 2013 год.
        </p>
        " } ) }} {{ persona.create({ img: "img/guide-7.jpg", name: "Рублева
        Фаина Борисовна",
        tags:[{text:"Русский"},{text:"Английский"},{text:"Ведет экскурсии для
        школьников",icon:'<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 7.99804C15 9.65396 13.657 10.9961 12 10.9961C10.343 10.9961 9 9.65396 9 7.99804C9 6.34212 10.343 5 12 5C13.657 5 15 6.34212 15 7.99804Z"
                stroke="white"
                stroke-width="1.4"
            />
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17 18.9909H7C7 18.2808 7 17.6053 7 16.9936C7 15.3368 8.34315 13.9941 10 13.9941H14C15.6569 13.9941 17 15.3368 17 16.9936C17 17.6053 17 18.2808 17 18.9909Z"
                stroke="white"
                stroke-width="1.4"
            /></svg
        >'}] ,desc: "
        <p>
            Научный директор АО «Планетарий», лауреат премии Правительства
            Российской Федерации в области образования, 2013 год.
        </p>
        " } ) }}
    </div>
    <div class="paginator">
        <a href="#" class="paginator__prev"></a>
        <a href="#" class="paginator__link _active">1</a>
        <a href="#" class="paginator__link">2</a>
        <a href="#" class="paginator__link">3</a>
        <a href="#" class="paginator__link">4</a>
        <a href="#" class="paginator__link">5</a>
        <a href="#" class="paginator__link">6</a>
        <a href="#" class="paginator__next"></a>
    </div>
</div>
{% endblock %}

