{% extends "pages/_includes/layout.njk" %} {% block title %}Легенды планетария{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "О планетарии",
                    href: "about.html"
                }
            ]
        },
        "Легенды планетария"
    )
}}

<h1>Легенды планетария</h1>
<div class="text">
    <p>
        Раздел сайта Легенды Планетария — дань памяти и благодарности тем людям,
        которые всю свою жизнь посвятили Планетарию. Их идеи и мысли до сих пор
        наполняют попутным ветром творческие паруса Московского планетария.
    </p>
</div>
<div class="block">
    <div class="personal-grid">
        {{ persona.create({ img: "img/legend-1.jpg",date:"(1899 -
        1981)",link:"legend.html" ,name: "Константин Николаевич Шистовский",
        desc: "
        <p>
            Один из основателей Московского планетария, его первый директор,
            первый лектор и инженер-конструктор. Полвека истории Московского
            планетария связано его именем.Константин Николаевич родился 12
            апреля 1899 года в деревне Лаптево (ныне город Ясногорск Тульской
            области) в семье медиков. В 1925 году он окончил астрономическое
            отделение физико-математического факультета Московского
            Государственного университета имени М.В. Ломоносова.
        </p>
        " } ) }} {{ persona.create({ img: "img/legend-2.jpg", date:"(1893 -
        1972)",link:"legend.html" , name: "Шишаков Виталий Алексеевич", desc: "
        <p>
            Вряд ли мог представить себе когда-то гимназист-старшеклассник
            Виталий Шишаков, сделав на одном из собраний кружка Всесоюзного
            астрономо-геодезического общества «Знание неба» доклад о Марсе, что
            воспитание планетарских астрокружковцев станет главной дорогой его
            будущей судьбы?
        </p>
        " } ) }} {{ persona.create({ img: "img/legend-3.jpg", date:"(1932 -
        2010)",link:"legend.html" , name: "Широков Станислав Васильевич", desc:
        "
        <p>
            В истории Московского планетария есть имена-легенды, имена людей,
            судьбы которых неразрывно переплетены с его судьбой. Одному из них,
            Станиславу Васильевичу Широкову, 30 ноября 2012 года исполнилось бы
            80 лет.
        </p>
        " } ) }} {{ persona.create({ img: "img/legend-3.jpg", date:"(1932 -
        2010)",link:"legend.html" , name: "Широков Станислав Васильевич", desc:
        "
        <p>
            В истории Московского планетария есть имена-легенды, имена людей,
            судьбы которых неразрывно переплетены с его судьбой. Одному из них,
            Станиславу Васильевичу Широкову, 30 ноября 2012 года исполнилось бы
            80 лет.
        </p>
        " } ) }}
    </div>
    <div class="paginator">
        <a href="#" class="paginator__prev"></a>
        <a href="#" class="paginator__link _active">1</a>
        <a href="#" class="paginator__link">2</a>
        <a href="#" class="paginator__link">3</a>
        <a href="#" class="paginator__link">4</a>
        <a href="#" class="paginator__link">5</a>
        <a href="#" class="paginator__link">6</a>
        <a href="#" class="paginator__next"></a>
    </div>
</div>
{% endblock %}

