{% extends "pages/_includes/layout.njk" %} {% block title %}Вакансии{% endblock
%} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "О планетарии",
                    href: "#.html"
                }
            ]
        },
        "Вакансии"
    )
}}
<div class="top-row">
    <h1>Вакансии</h1>
</div>
<div class="block vacancies-list">
    <div class="vacancy _br">
        <div class="vacancy__top">
            <h2>Продавец-кассир в магазин космических сувениров</h2>
            <div class="vacancy__arrwow"></div>
        </div>
        <div class="vacancy__body">
            <div class="vacancy__grid">
                <div class="vacancy__block text">
                    <h2>Обязанности:</h2>
                    <ul>
                        <li>
                            Консультирование и обслуживание покупателей магазина
                            сувениров
                        </li>
                        <li>
                            Работа с кассой: расчет покупателей (наличный и
                            безналичный расчет), открытие/закрытие кассовой
                            смены
                        </li>
                        <li>
                            Оформление витрин и выкладка товара, контроль
                            наличия товара, контроль корректности ценников.
                        </li>
                    </ul>
                </div>
                <div class="vacancy__block text">
                    <h2>Условия:</h2>
                    <ul>
                        <li>Оформление по ТК РФ</li>
                        <li>
                            Сменный график работы, 2 дня работы с последующими 2
                            выходными днями
                        </li>
                    </ul>
                </div>
                <div class="vacancy__block text">
                    <h2>Требования:</h2>
                    <ul>
                        <li>
                            Ответственность и дисциплинированность. Грамотная
                            речь и опрятный внешний вид
                        </li>
                        <li>Умение работать с людьми</li>
                        <li>
                            Внимательность, доброжелательность,
                            стрессоустойчивость, дисциплинированность, честность
                        </li>
                        <li>
                            Наличие медицинской книжки или готовность ее
                            оформить
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vacancy__bottom">
            <ul class="vacancy__bottom-list">
                <li><color>Требуемый опыт работы: 1 год</color></li>
                <li><color>ЗП: обсуждается на собеседовании</color></li>
                <li>Контактное лицо: Груздов Алексей</li>
            </ul>
            <a href="#" class="vacancy__send btn-border">Отправить резюме</a>
        </div>
    </div>
    <div class="vacancy _br">
        <div class="vacancy__top">
            <h2>Продавец-кассир в магазин космических сувениров</h2>
            <div class="vacancy__arrwow"></div>
        </div>
        <div class="vacancy__body">
            <div class="vacancy__grid">
                <div class="vacancy__block text">
                    <h2>Обязанности:</h2>
                    <ul>
                        <li>
                            Консультирование и обслуживание покупателей магазина
                            сувениров
                        </li>
                        <li>
                            Работа с кассой: расчет покупателей (наличный и
                            безналичный расчет), открытие/закрытие кассовой
                            смены
                        </li>
                        <li>
                            Оформление витрин и выкладка товара, контроль
                            наличия товара, контроль корректности ценников.
                        </li>
                    </ul>
                </div>
                <div class="vacancy__block text">
                    <h2>Условия:</h2>
                    <ul>
                        <li>Оформление по ТК РФ</li>
                        <li>
                            Сменный график работы, 2 дня работы с последующими 2
                            выходными днями
                        </li>
                    </ul>
                </div>
                <div class="vacancy__block text">
                    <h2>Требования:</h2>
                    <ul>
                        <li>
                            Ответственность и дисциплинированность. Грамотная
                            речь и опрятный внешний вид
                        </li>
                        <li>Умение работать с людьми</li>
                        <li>
                            Внимательность, доброжелательность,
                            стрессоустойчивость, дисциплинированность, честность
                        </li>
                        <li>
                            Наличие медицинской книжки или готовность ее
                            оформить
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vacancy__bottom">
            <ul class="vacancy__bottom-list">
                <li><color>Требуемый опыт работы: 1 год</color></li>
                <li><color>ЗП: обсуждается на собеседовании</color></li>
                <li>Контактное лицо: Груздов Алексей</li>
            </ul>
            <a href="#" class="vacancy__send btn-border">Отправить резюме</a>
        </div>
    </div>
</div>
{% endblock %}

