<div class="hp-promo js-hp-promo">
    <div class="inner hp-promo__titles js-hp-promo-titles">
        <h1 class="hp-promo__title"><span>Московский планетарий</span></h1>
        <h2 class="hp-promo__subtitle"><span>Мультиформатный научно&#8209;просветительский центр</span></h2>
    </div>

    <div class="hp-space js-hp-promo-space _show-sun">
        <div class="hp-space__central-objects js-hp-promo-central">
            <div class="hp-space__sun">
                <div class="hp-space__sun-inner"></div>
            </div>
            <div class="hp-space__earth">
                <div class="hp-space__earth-inner"></div>
            </div>
            <div class="hp-space__moon">
                <div class="hp-space__moon-inner"></div>
            </div>

            <div class="hp-space__circles">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="hp-space__shadows">
            <div class="hp-space__shadow-1 js-hp-promo-shadow-1">
                <div class="hp-space__shadow-inner"></div>
            </div>
            <div class="hp-space__shadow-2 js-hp-promo-shadow-2">
                <div class="hp-space__shadow-inner"></div>
            </div>
        </div>
    </div>
</div>
