<div class="hp-quiz js-trigger-animate">
    <div class="hp-quiz__inner">
        <svg class="hp-quiz__logo">
            <use xlink:href="./img/symbols.svg#sym-logo-simple"></use>
        </svg>
        <div class="h1 hp-quiz__title">Какую программу выбрать?</div>
        <div class="hp-quiz__text">Ответьте на&nbsp;5&nbsp;вопросов и&nbsp;узнайте,<br/>какая программа вам больше всего подходит</div>
        <a class="hp-quiz__btn" href="/about.html">
            <svg>
                <use xlink:href="./img/symbols.svg#sym-icon-quiz"></use>
            </svg>
            <span>Пройти квиз</span>
        </a>
    </div>

    <div class="hp-quiz__img" style="background-image: url('./content/quiz-poster.webp')"></div>
</div>
