<div class="hp-schedule">
    <div class="top-row">
        <a class="h1 title-link" href="events.html">Сегодня в Планетарии</a>
    </div>
    
    <div class="hp-schedule__inner">
        <div class="hp-shedule__item">
            {{ event.create(
                {
                    img: "content/movie-poster.webp",
                    title: "Фильм «Рождение планеты Земля»",
                    awards: [
                        {
                            top:"ПОБЕДИТЕЛЬ",
                            text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ СТРОЧКИ",
                            year:"2023"
                        },
                        {
                            top:"ПОБЕДИТЕЛЬ",
                            text:"НАЗВАНИЕ КОНКУРСА В ТРИ СТРОЧКИ", year:"2023"
                        }
                    ],
                    info: [
                        { icon:"marker", text:"Большой Звёздный зал" },
                        { icon:"time", text:"46 минут" }
                    ],
                    btnText:"Купить билет от 750 ₽",
                    link:"event.html",
                    moreBtn:"true"
                }
            ) }}
        </div>
    
        <div class="hp-shedule__item">
            {{ event.create(
                {
                    img: "img/events.jpg",
                    title: "Фильм «Загадка Жизни»",
                    info: [
                        { icon: "marker", text: "Малый Звёздный зал" },
                        { icon: "time", text: "60 минут" }
                    ],
                    btnText:"Купить билет от 750₽",
                    link:"event.html",
                    moreBtn: "true"
                }
            ) }}
        </div>
    
        <div class="hp-shedule__item">
            {{ event.create(
                {
                    img: "img/gallery-3.jpg",
                    title: "Звёздная программа «Небо в движении»",
                    info: [
                        { icon:"marker", text:"Малый Звёздный зал" },
                        { icon:"time", text:"60 минут" }
                    ],
                    btnText:"Купить билет от 750 ₽",
                    link:"event.html",
                    moreBtn:"true"
                }
            ) }}
        </div>
    </div>
</div>
