<div class="hp-schedule">
    <div class="top-row">
        <a class="h1 title-link" href="events.html">Сегодня в Планетарии</a>
    </div>

    <div class="slider-3 swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                {{ event.create(
                    {
                        img: "content/movie-poster.webp",
                        title: "Фильм «Рождение планеты Земля»",
                        awards: [
                            {
                                top:"ПОБЕДИТЕЛЬ",
                                text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ СТРОЧКИ",
                                year:"2023"
                            },
                            {
                                top:"ПОБЕДИТЕЛЬ",
                                text:"НАЗВАНИЕ КОНКУРСА В ТРИ СТРОЧКИ", year:"2023"
                            }
                        ],
                        info: [
                            { icon:"marker", text:"Большой Звёздный зал" },
                            { icon:"time", text:"46 минут" }
                        ],
                        desc: "<p>Впервые в России для широкого зрителя в течение продолжительного времени будет показываться полнокупольный фильм, который подробно и зрелищно рассказывает о возникновении Земли. Зрители увидят весь процесс формирования планеты – от ее зарождения до возникновения на ней жизни</p>",
                        btnText:"Купить билет от 750 ₽",
                        link:"event.html",
                        moreBtn:"true"
                    }
                ) }}
            </div>
            <div class="swiper-slide">
                {{ event.create(
                    {
                        img: "img/events.jpg",
                        title: "Фильм «Загадка Жизни»",
                        info: [
                            { icon: "marker", text: "Малый Звёздный зал" },
                            { icon: "time", text: "60 минут" }
                        ],
                        desc: "<p>В истории Московского планетария есть имена - легенды,
                        имена людей, судьбы которых неразрывно переплетены с его
                        судьбой. Одному из них, Станиславу Васильевичу Широкову,
                        30 ноября 2012 года исполнилось бы 80 лет. </p>",
                        btnText:"Купить билет от 750₽",
                        link:"event.html",
                        moreBtn: "true"
                    }
                ) }}
            </div>
            <div class="swiper-slide">
                {{ event.create(
                    {
                        img: "img/gallery-3.jpg",
                        title: "Звёздная программа «Небо в движении»",
                        info: [
                            { icon:"marker", text:"Малый Звёздный зал" },
                            { icon:"time", text:"60 минут" }
                        ],
                        desc: "<p>Сами того не замечая, мы все время находимся в движении - даже, когда стоим на месте. Стоит поднять голову и взглянуть на небо, как мы заметим движение небесных объектов, звезд и планет. И даже наше собственное!</p>",
                        btnText:"Купить билет от 750 ₽",
                        link:"event.html",
                        moreBtn:"true"
                    }
                )
                }}
            </div>
        </div>
        <div class="slider-3__pagi"></div>
    </div>
</div>
