{% extends "pages/_includes/layout.njk" %} {% block title %}Планетарий{%
endblock %} {% block main %}

<div class="top-row">
    <h1>Список страниц</h1>
</div>

<div class="text">
    <ul>
        <li>
            <a href="cafe.htmk">Кафе</a>
        </li>
        <li>
            <a href="event.html">Афиша Детальная </a>
        </li>
        <li>
            <a href="visitor-special-needs.html"
                >Для людей с особыми потребностями</a
            >
        </li>
        <li>
            <a href="exponat.html">Экспонат Детальная</a>
        </li>
        <li>
            <a href="shop.html">Магазин</a>
        </li>
        <li>
            <a href="vacancies.html">Вакансии</a>
        </li>
    </ul>
</div>

{% endblock %}
