{% extends "pages/_includes/layout.njk" %} {% block title %}Планетарий{%
endblock %} {% block bodyclass %}page-home theme-dark{%
endblock %} {% block main %}

{% include 'components/preloader/preloader.njk' %}

{% include 'pages/home/_promo.njk' %}
{% include 'pages/home/_video.njk' %}
{% include 'pages/home/_program.njk' %}

<div class="hp-white-bg">
    <div class="inner hp-white-bg__inner">
        {% include 'pages/home/_schedule.njk' %}
        {% include 'pages/home/_quiz.njk' %}
        {% include 'pages/home/_blog.njk' %}
    </div>
</div>

{% include 'components/video-popup/video-popup.njk' %}

{% endblock %}
