<!DOCTYPE html>
<html lang="en" class="page-home">
    <head>
        <meta charset="UTF-8" />
        <title>Hello, World!</title>
        {% include 'pages/_includes/head.njk' %}
    </head>
    <body>
        <div class="wrap-page">
            {% include 'components/header/header.njk' %}
            <h1>Hello, World!</h1>
        </div>
    </body>
</html>
