{% extends "pages/_includes/layout.njk" %} {% block title %}Планетарий{%
endblock %} {% block main %}

<div class="top-row">
    <h1>Список страниц</h1>
</div>

<div class="text block">
    <ul>
        <li>
            <a href="home.html">Главная</a>
        </li>
        <li>
            <a href="shedule.html">Расписание</a>
        </li>
        <li>
            <a href="quiz.html">Квизы</a>
        </li>
        <li>
            <a href="quiz-detail.html">Квиз</a>
        </li>
        <li>
            <a href="quiz-result.html">Квиз (Результат)</a>
        </li>
        <li>
            <a href="shedule.html">Расписание</a>
        </li>
        <li>
            <a href="shedule.html">Расписание</a>
        </li>
        <li>
            <a href="404.html">404</a>
        </li>
        <li>
            <a href="contacts.html">Контакты</a>
        </li>
        <li>
            <a href="about.html">О планетарии</a>
        </li>
        <li>
            <a href="cafe.html">Кафе</a>
        </li>
        <li>
            <a href="history.html">История</a>
        </li>
        <li>
            <a href="private-events.html">Частные мероприятия </a>
        </li>
        <li>
            <a href="events.html">Мероприятия </a>
        </li>
        <li>
            <a href="excursions.html">Экскурсии </a>
        </li>
        <li>
            <a href="excursion.html">Экскурсия Детальная</a>
        </li>
        <li>
            <a href="lections.html">Курсы и лекции </a>
        </li>
        <li>
            <a href="lection.html">Курсы и лекции Детальная </a>
        </li>
        <li>
            <a href="afisha.html">Афиша </a>
        </li>
        <li>
            <a href="event.html">Афиша Детальная </a>
        </li>
        <li>
            <a href="visitor-special-needs.html"
                >Для людей с особыми потребностями</a
            >
        </li>
        <li>
            <a href="exponats.html">Экспонаты</a>
        </li>
        <li>
            <a href="exponat.html">Экспонат Детальная</a>
        </li>
        <li>
            <a href="blogs.html">Научный блог</a>
        </li>
        <li>
            <a href="blogs-astro.html"
                >Научный блог (Астрономические новости)</a
            >
        </li>
        <li>
            <a href="blog.html">Научный блог (Детальная)</a>
        </li>
        <li>
            <a href="shop.html">Магазин</a>
        </li>
        <li>
            <a href="vacancies.html">Вакансии</a>
        </li>
        <li>
            <a href="press.html">Пресса</a>
        </li>
        <li>
            <a href="sovet.html">Учёный совет</a>
        </li>
        <li>
            <a href="guides.html">Экскурсоводы</a>
        </li>
        <li>
            <a href="directors.html">Руководство Планетария</a>
        </li>
        <li>
            <a href="visitors.html">Посетителям</a>
        </li>
        <li>
            <a href="faq.html">Вопросы и ответы</a>
        </li>
        <li>
            <a href="legends.html">Легенды</a>
        </li>

        <li>
            <a href="legend.html">Легенда (детальная)</a>
        </li>
        <li>
            <a href="rules.html">Правила </a>
        </li>
        <li>
            <a href="rule.html">Правила (детальная)</a>
        </li>
        <li>
            <a href="podcasts.html">Подкасты</a>
        </li>
        <li>
            <a href="podcast.html">Подкаст (детальная)</a>
        </li>
        <li>
            <a href="ui.html">UI</a>
        </li>
    </ul>
</div>

{% endblock %}
