{% extends "pages/_includes/layout.njk" %} {% block title %}Планетарий{%
endblock %} {% block main %}

<div class="top-row">
    <h1>Список страниц</h1>
</div>

<div class="text block">
    <ul>
        <li>
            <a href="about.html">О планетарии</a>
        </li>
        <li>
            <a href="cafe.html">Кафе</a>
        </li>
        <li>
            <a href="events.html">Афиша </a>
        </li>
        <li>
            <a href="event.html">Афиша Детальная </a>
        </li>
        <li>
            <a href="visitor-special-needs.html"
                >Для людей с особыми потребностями</a
            >
        </li>
        <li>
            <a href="exponats.html">Экспонаты</a>
        </li>
        <li>
            <a href="exponat.html">Экспонат Детальная</a>
        </li>
        <li>
            <a href="shop.html">Магазин</a>
        </li>
        <li>
            <a href="vacancies.html">Вакансии</a>
        </li>
        <li>
            <a href="press.html">Пресса</a>
        </li>
        <li>
            <a href="sovet.html">Учёный совет</a>
        </li>
        <li>
            <a href="guides.html">Экскурсоводы</a>
        </li>
        <li>
            <a href="directors.html">Руководство Планетария</a>
        </li>
        <li>
            <a href="visitors.html">Посетителям</a>
        </li>
        <li>
            <a href="legends.html">Легенды</a>
        </li>
        <li>
            <a href="legend.html">Легенда (детальная)</a>
        </li>
        <li>
            <a href="ui.html">UI</a>
        </li>
    </ul>
</div>

{% endblock %}

