{% extends "pages/_includes/layout.njk" %} {% block title %}Как стать
партнёром{% endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Частные мероприятия",
                    href: "home.html"
                },
                {
                    text: "Свидание в музее Урании",
                    href: "home.html"
                }
            ]
        },
        "Заявка на мероприятие"
    )
}}
<div class="top-row">
    <h1>Заявка на мероприятие</h1>
</div>
<div class="white-block">
    <div class="feeback block">
        <div class="feeback__row2">
            <div class="feeback__left">
                <p>Название мероприятия</p>
                <h3 class="">Свидание в Музее Урании</h3>
                <p>Ваши данные</p>
                <form action="form-success.html" method="GET" id="event-form">
                    <label class="form-item">
                        <input
                            id="event-form__name"
                            type="text"
                            name="name"
                            placeholder="ФИО"
                        />
                    </label>
                    <div class="form-item-row-two">
                        <label class="form-item">
                            <input
                                class="_mask-date"
                                id="event-form__date"
                                type="text"
                                name="date"
                                placeholder="Выберите желаемую дату"
                            />
                        </label>
                    </div>
                    <div class="form-item-row-two">
                        <label class="form-item">
                            <input
                                class="_mask-phone"
                                id="event-form__phone"
                                type="text"
                                name="phone"
                                placeholder="Телефон для связи"
                            />
                        </label>
                        <label class="form-item">
                            <input
                                id="event-form__email"
                                type="text"
                                name="email"
                                placeholder="Email"
                            />
                        </label>
                    </div>
                    <label class="checkbox">
                        <input
                            type="checkbox"
                            id="event-form__agree"
                            name="agree"
                            placeholder=""
                        />
                        <span class="checkbox__indicator"></span>
                        <div class="checkbox__text">
                            Согласен(а) на обработку моих
                            <a href="#"> персональных данных</a>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input
                            type="checkbox"
                            id="event-form__subscribe"
                            name="subscribe"
                            placeholder=""
                        />
                        <span class="checkbox__indicator"></span>
                        <div class="checkbox__text">
                            Согласен(а) получать новости и спецпредложения
                        </div>
                    </label>
                    <button class="btn-border" type="submit">
                        Оставить заявку
                    </button>
                </form>
            </div>
            <div class="feeback__right">
                <div class="feeback__badge _br">
                    <p>
                        Стоимость <br />
                        лекции
                    </p>
                    <p>4 000₽</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

