.wrap-page {
    overflow: hidden;
}

.inner {
    padding-left: var(--inner-padding);
    padding-right: var(--inner-padding);
}

.btn-border {
    border: 1px solid;
    display: flex;
    height: 48px;
    padding: 10px 20px 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
}
