body {
    font-family: Circe;
}
h1,
.h1 {
    font-size: 400px;
    line-height: normal;
    .clampf(24,46);
    font-family: Unbounded;
    font-weight: 700;
    letter-spacing: -0.46px;
}
.block {
    .h1 {
        margin-top: 80px;
        margin-bottom: 40px;
    }
}
h2,
.h2 {
    font-family: Unbounded;
    .clampf(20,24);
    font-style: normal;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 16px;
    line-height: 133.333%;
}
h3,
.h3 {
    font-family: Unbounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 133.333%;
}
p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.333%; /* */
    letter-spacing: -0.36px;
}
.text {
    max-width: 909px;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
        li {
            position: relative;
            padding-left: 34px;
            &::before {
                width: 4px;
                height: 4px;
                position: absolute;
                left: 10px;
                top: 10px;
                display: block;
                content: "";
                border-radius: 50%;
                background: var(--gradient);
            }
        }
    }
    p {
        margin-bottom: 16px;
        big {
            font-family: Unbounded;
            font-size: 24px;
            font-weight: 300;
            .clampf(20,24);
            background: var(--gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    a {
        color: var(--link);
    }
}

.blockquote {
    font-family: Unbounded;
    .clampf(20,24);
    font-style: normal;
    font-weight: 300;
    line-height: 133.333%;
    margin: 16px 0;
    padding: 0;
    padding-left: 16px;
    border-left: 1px solid var(--link);
    &__content {
        .color();
    }
}
