{% extends "pages/_includes/layout.njk" %} {% block title %}Магазин Планетария{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Посетителям",
                    href: "visitors.html"
                }
            ]
        },
        "Магазин Планетария"
    )
}}
<div class="top-row">
    <h1>Магазин Планетария</h1>
</div>
<div class="top-block _br">
    <div class="top-block__img">
        <img src="img/shop.jpg" alt="" class="" />
    </div>
</div>
<div class="content-inner _full-width">
    <div class="content-inner__main">
        <div class="text">
            <h2>
                Просто посетить Планетарий – недостаточно. Так хочется унести с
                собой не просто воспоминания, но и космический сувенир!
            </h2>
            <p>
                В фойе Московского планетария работает Магазин Космических
                Сувениров, где вы можете приобрести:
            </p>
            <ul>
                <li>сувенирную продукцию, посвящённую Планетарию</li>
                <li>
                    увлекательные книги о планетах и звездах, галактиках и
                    кометах об устройстве Вселенной
                </li>
                <li>глобусы и плакаты планет Солнечной системы</li>
                <li>занимательные тематические игрушки для детей и взрослых</li>
                <li>телескопы, микроскопы и другие оптические приборы</li>
                <li>
                    индивидуальные экземпляры и осколки метеоритов, а также
                    памятные медали посвященные падениям известных метеоритов
                </li>
                <li>
                    наборы для проведения опытов, различные минералы,
                    тематические журналы
                </li>
                <li>и многое другое!</li>
            </ul>

            <h2>Как использовать?</h2>
            <p>
                Магазин работает ежедневно с 10:00 до 21:00 ежедневно, кроме
                вторника.
            </p>
            <p>Магазин находится в фойе Планетария.</p>
            <p><a href="#" class="btn-border">Схема Планетария</a></p>
        </div>
    </div>
    <div class="content-inner__sidebar">
        <div class="sidebar-card _bg-white _br">
            <svg
                width="51"
                height="51"
                viewBox="0 0 51 51"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                    fill="url(#Gradient)"
                />
            </svg>

            <p>
                По вопросам сотрудничества <br />
                с магазином обращайтесь на почту: <br />
                <a href="mailto:m.itina@planetarium-moscow.ru"
                    >m.itina@planetarium-moscow.ru</a
                >
            </p>
        </div>
    </div>
</div>

<div class="white-block">
    {{
        gallerySlider.create("Фотогалерея", [
            "shop-1.jpg",
            "shop-2.jpg",
            "shop-3.jpg",
            "shop-1.jpg",
            "shop-2.jpg",
            "shop-3.jpg"
        ])
    }}
</div>
{% endblock %}

