{% extends "pages/_includes/layout.njk" %} {% block title %}О Планетарии{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                }
            ]
        },
        "Партнёры Планетария"
    )
}}
<div class="top-row">
    <h1>Партнёры Планетария</h1>
</div>
<div class="block">
    <div class="partners-grid">
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-1.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">Мел</div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">www.mel.fm</span>
            </a>
            <div class="partner__desc">
                <p>
                    «Мел» — это самое крупное тематическое онлайн-издание в
                    России про семью, детей, воспитание и образование. Мы пишем
                    обо всем, что связано с жизнью детей и взрослых — от
                    рождения до поступления в вуз. «Мел» — не просто медиа, а
                    сообщество всех, кто интересуется трендами в образовании и
                    воспитании <br />
                    В месяц нас читают более 6 миллионов пользователей, среди
                    которых родители, педагоги, репетиторы, предприниматели и
                    подростки.
                </p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-2.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">
                Московская сеть районных сообществ М125
            </div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">www.m125.moscow</span>
            </a>
            <div class="partner__desc">
                <p>
                    М125 - самая крупная сеть соседских сообществ Москвы. Девиз:
                    «Местные новости. Горячие дискуссии, Включенные горожане».
                    Наши подписчики присылают новости «с земли», обмениваются
                    мнениями, спорят, ссорятся и мирятся, сигналят о поломка и
                    неисправностях. Мы используем авторитет сообществ М125 для
                    решения этих проблем.
                </p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-3.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">Афиша КП</div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">www.kp.ru/afisha/msk</span>
            </a>
            <div class="partner__desc">
                <p>
                    Афиша КП — это проект «Комсомольской правды» о самых ярких
                    событиях Москвы. Рассказываем, куда сходить и что
                    посмотреть. Лучшие развлечения и мероприятия обеих столиц:
                    концерты, фестивали, выставки, спектакли, кинопремьеры. А
                    также розыгрыши билетов, новости городов, видео с концертов.
                </p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-4.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">Канатная дорога</div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">www.kp.ru/afisha/msk</span>
            </a>
            <div class="partner__desc">
                <p>
                    Московская канатная дорога соединила два берега Москвы-реки.
                    Из окон футуристических кабин на 360 градусов открываются
                    уникальные виды на живописную набережную Москвы-реки,
                    высотки делового центра «Москва-Сити», главное здание
                    Московского государственного университета им. Ломоносова и
                    многие другие знаковые места столицы.
                </p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-5.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">IVI</div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">www.kp.ru/afisha/msk</span>
            </a>
            <div class="partner__desc">
                <p>
                    IVI– онлайн-кинотеатр, аудитория которого превышает 58 млн
                    уникальных посетителей в месяц. На IVI представлен обширный
                    каталог фильмов, мультфильмов и сериалов. Всего фильмотека
                    онлайн-кинотеатра насчитывает более 100 тыс. единиц контента
                    — это картины всех 6 студий мейджоров, фильмы и сериалы
                    линейки IVI Originals, а также более 400 европейских и
                    российских независимых кинопроизводителей. Зрителям так же
                    доступны ТВ – каналы и спортивный контент. Онлайн-кинотеатр
                    IVI можно смотреть во всем мире на огромном количестве
                    устройств.
                </p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-6.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">Радиостанция «Серебряный Дождь»</div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">www.kp.ru/afisha/msk</span>
            </a>
            <div class="partner__desc">
                <p>
                    Радиостанция "Серебряный дождь" - информационный партнер
                    Московского Планетария. В эфире с 1995 года."
                </p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-7.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">«Страна Мам»</div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">www.kp.ru/afisha/msk</span>
            </a>
            <div class="partner__desc">
                <p>
                    «Страна Мам» - одна из крупнейших социальных сетей для
                    мамочек. Огромное количество статей о беременности и родах,
                    а также интересные материалы о грудном вскармливании,
                    детском здоровье, детской психологии и самых разнообразных
                    родительских заботах превратят материнство в один из самых
                    лучших и незабываемых периодов жизни!
                </p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__img-wrap _br">
                <img src="img/partner-8.png" class="partner__img" alt="" />
            </div>
            <div class="partner__title h2">OSD.RU</div>
            <a class="partner__link" href="#">
                <span class="icon-web"></span>
                <span class="">OSD.RU</span>
            </a>
            <div class="partner__desc">
                <p>
                    OSD.RU - cамый полный путеводитель по местам отдыха с детьми
                    в Москве в каникулы, праздники, любой свободный день.
                    Ежедневно на сайте: топы спектаклей, музеев, выставок,
                    новости и анонсы; отзывы родителей; рекомендации и
                    тематические обзоры; подборки бесплатных мероприятий,
                    викторины; запись на экскурсии, бесплатные квесты-прогулки и
                    еще много интересного!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

