{% extends "pages/_includes/layout.njk" %} {% block title %}Планетарий{%
endblock %} {% block bodyclass %}theme-dark page-history{% endblock %} {% block
main %} {% include 'components/video-popup/video-popup.njk' %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "О планетарии",
                    href: "about.html"
                }
            ]
        },
        "История планетария"
    )
}}
<h1 class="h1-big text-center">ИСТОРИЯ ПЛАНЕТАРИЯ</h1>
<div class="anchor-block">
    <ul class="anchor-block__list">
        <li>
            <a class="_active" href="#preparation">Подготовка</a>
        </li>
        <li>
            <a href="#firststone">Первый камень</a>
        </li>
        <li>
            <a href="#materials">Подбор материалов</a>
        </li>
        <li>
            <a href="#open">Открытие</a>
        </li>
        <li>
            <a href="#evolution">Эволюция программ</a>
        </li>
        <li>
            <a href="#star-theater">Звёздный театр</a>
        </li>
        <li>
            <a href="#wow">Великая Отечественная</a>
        </li>
        <li>
            <a href="#modernity">Современность</a>
        </li>
    </ul>
    <img class="anchor-block__img" src="content/history-top.jpg" alt="" />
</div>
<div id="preparation">
<div class="history-1">
    <img src="img/history-1.svg" alt="" class="history-1__circle" />
    <div class="history-1__row">
        <div class="history-1__left">
            <div class="sup-line">подготовка к строительству</div>
            <div class="history-1__title h1-big">
                <span>В 1927 году </span> Московский Совет решает создать
                планетарий
            </div>
        </div>
        <div class="history-1__right">
            <div class="svg-light">
                <img
                    class="history-1__img"
                    src="content/history-img.svg"
                    alt=""
                />
            </div>
        </div>
    </div>

    <div class="history-1__row2">
        <div>
            <p>
                На тот момент мир насчитывал уже 12 планетариев, преимущественно
                в Германии. Московский планетарий стал тринадцатым в мире.
            </p>
        </div>
        <div>
            <p>
                К 1928 году СССР заключил договоры с фирмами Цейсс и Диккергоф
                о поставке оборудования и строительстве купола. Бюджет проекта
                составил 250 000 рублей, включая здание, оборудование,
                аудитории, музей и обсерваторию.
            </p>
        </div>
    </div>
</div>
<div class="history-img-row">
    <div class="history-img-row__item">
        <img src="content/history-1.jpg" class="history-img-row__img" alt="" />
        <h2>
            Молодые архитекторы М.О.Барщ и М.И. Синявский представили проект в
            стиле «конструктивизм»
        </h2>
        <p>
            Этот новаторский для 20-30-х годов XX века стиль подразумевал
            создание ярко выраженных форм на основе железобетонного каркаса.
            Строительство планетария стало значимым событием для столицы. Журнал
            «Огонек» отмечал его как мероприятие культурной важности, сравнивая
            с народным университетом, который расширит умственный кругозор
            граждан.
        </p>
        <p>
            В итоге Моссовет утвердил окончательный проект, и основное здание
            планетария было возведено на улице Садовой Кудринской, 5.
        </p>
    </div>
    <div class="history-img-row__item">
        <img
            src="content/history-2.jpg"
            class="history-img-row__img _mt-auto"
            alt=""
        />
        <p>
            <color>
                К. Н. Шистовский (первый директор) и архитекторы М. О. Барщ, М.
                И. Синявский</color
            >
        </p>
    </div>
</div>
</div>
<div class="history-bg-block block _br">
    <div class="history-bg-block__bg">
        <img src="content/first-stone-bg.jpg" alt="" />
    </div>
    <div id="firststone" class="history-bg-block__content">
        <div class="sup-line">первый камень</div>
        <h2 class="h1">
            <color>23 сентября 1928</color> года был заложен первый камень в
            фундамент Московского Планетария
        </h2>
        <div class="history-bg-block__bottom">
            <div>
                <div class="history-bg-block__row">
                    <div class="">
                        <p>
                            <color>23 сентября 1928 года</color>, в день
                            осеннего равноденствия, началось строительство
                            Московского Планетария. К февралю 1929 года немецкие
                            специалисты прибыли для установки купола. В конце
                            мая, когда зрительный зал был готов, начался монтаж
                            аппарата «Планетарий» под контролем специалистов
                            из фирмы Цейсса.
                        </p>
                    </div>
                    <div class="">
                        <p>
                            Уже 3 августа аппарат был полностью установлен
                            и демонстрировался руководству Моссовета.
                            В последующие месяцы проводилисьзакрытые показы.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img class="_br" src="content/first-stone.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<div id="materials" class="history-3 block">
    <div class="sup-line">ПОДБОР МАТЕРИАЛОВ МУЗЕЯ</div>
    <div class="history-3__grid">
        <div class="history-3__column">
            <h2>
                Научно-методическая работа в это время шла полным ходом.
                Тщательно продумывались основные темы, подбор материала,
                учитывалось строго научное содержание, а также методика и форма
                изложения.
            </h2>
        </div>
        <div class="history-3__column">
            <p>
                <color
                    >Было разработано несколько главных тем, удовлетворяющих не
                    только запросам массового зрителя, но и школьным программам.
                    Был представлен план организации астрономической
                    библиотеки-читальни и астрономической обсерватории,
                    обслуживающей посетителей, и способной вести научную
                    работу.</color
                >
            </p>
        </div>
        <div class="history-3__column">
            <p>
                Однако самым главным вопросом было создание большого
                астрономического музея. Дискуссия о том, каким быть музею
                планетария, была чрезвычайно острой, так как боролись два
                мнения: должен ли быть музей при планетарии, или при музее
                должен стать планетарий.
            </p>
        </div>
    </div>
</div>
<div  id="open" class="white-block "">
    <div class="text-center">
        <div class="sup-line">Открытие</div>
        <div class="h1-big">
            <color>5 ноября 1929 года</color><br />
            Торжественное открытие Московского Планетария
        </div>
    </div>
    <div class="d-max-1024 history-img-row__right">
        <p>
            Открытие планетария для широкой публики было намечено на Октябрьские
            праздники. 5 ноября 1929 года считается Днем рождения Московского
            Планетария
        </p>
    </div>
    <div class="history-img-row">
        <div class="history-img-row__item">
            <img
                src="content/history-3.jpg"
                class="history-img-row__img"
                alt=""
            />
            <div class="d-min-1024">
                <div class="h1">
                    «Должен каждый пролетарий посмотреть на Планетарий!»
                </div>
                <div class="quote-person">
                    <img
                        src="content/blog-photo.jpg"
                        class="quote-person__img"
                        alt=""
                    />
                    <p><color>Владимир Маяковский</color></p>
                    <p>
                        Продюсер полнокупольного кино, сотрудник Европейской
                        южной обсерватории (ESO)
                    </p>
                </div>
            </div>
        </div>
        <div class="history-img-row__item">
            <div class="d-min-1024 history-img-row__right">
                <p>
                    Открытие планетария для широкой публики было намечено на
                    Октябрьские праздники. 5 ноября 1929 года считается Днем
                    рождения Московского Планетария
                </p>
            </div>
            <img
                src="content/history-4.jpg"
                class="history-img-row__img _mt-auto"
                alt=""
            />
            <div class="d-max-1024">
                <div class="h1">
                    «Должен каждый пролетарий посмотреть на Планетарий!»
                </div>
                <div class="quote-person">
                    <img
                        src="content/blog-photo.jpg"
                        class="quote-person__img"
                        alt=""
                    />
                    <p><color>Владимир Маяковский</color></p>
                    <p>
                        Продюсер полнокупольного кино, сотрудник Европейской
                        южной обсерватории (ESO)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="black-block "">
    <div id="evolution" class="history-4 block">
        <div class="sup-line">Эволюция научно-познавательных программ</div>
        <div class="history-4__row">
            <div class="history-4__content">
                <div class="text">
                    <div class="h1">
                        Планетарий начал свою деятельность с небольшого цикла
                        лекций. Однако его тематика из года в год росла.
                    </div>
                    <p>
                        <color
                            >Если в 1929-1930 гг. в репертуаре было всего три
                            темы, то уже в 1939г. число их достигло 40. Строение
                            Вселенной, происхождение и развитие Солнечной
                            системы, строение Солнца, Луна и ее движение, кометы
                            и метеоры, затмения — вот круг тем, освещаемых в
                            Планетарии.</color
                        >
                    </p>
                    <p>
                        Большая заслуга Московского звездного дома в том, что
                        именно здесь почти сразу после открытия с благословения
                        К.Г.Паустовского начались первые конструкторские и
                        производственные работы по созданию «живого неба»,
                        усилению эффекта присутствия. Группу экспериментаторов
                        45 лет возглавлял талантливый конструктор, первый
                        директор и лектор планетария Константин Николаевич
                        Шистовский.
                    </p>
                    <p>
                        К 1934 году на куполе Московского Планетария уже мерцали
                        звезды, плыли облака, ходила по небу комета, колыхались
                        полярные сияния, шел августовский звездопад, происходили
                        солнечные затмения, ракета Циолковского летела с
                        огненным хвостом. В конце сеанса в зале занималась алая
                        заря, и под музыку Р.М.Глиэра, специально им
                        аранжированную для Планетария, восходило большое, яркое
                        «советское Солнце». Ничего этого ни в одном планетарии
                        мира не было до конца 50-х годов. Так планетарий
                        перестал быть просто оптическим прибором, а стал
                        купольным театром, где небо воспроизводится во всем
                        своем многообразии всеми средствами, доступными
                        современной технике.
                    </p>
                </div>
            </div>
            <div class="history-4__img">
                <img src="content/history-5.jpg" class="_br" alt="" />
            </div>
        </div>
    </div>
    <div id="star-theater" class="history-5 block">
        <div class="history-5__content">
            <div class="h1-big">
                Аппарат <br />
                «Мерцание<br />
                звезд»
            </div>
            <p>
                на фото механик Лебедев. Одно из первых советских изобретений,
                дополняющих аппарат Планетарий, автор — К. Н. Шистовский
            </p>
        </div>
        <div class="history-5__img">
            <img src="content/history-6.jpg" class="_br" alt="" />
        </div>
        <ul class="history-5__years">
            <li class="_br">
                <div class="history-5__year h1">1927</div>
                <p>Принятие решения о создании в СССР Планетария</p>
            </li>
            <li class="_br">
                <div class="history-5__year h1">1929</div>
                <p>5 ноября торжественно открыт первый в СССР планетарий</p>
            </li>
            <li class="_br">
                <div class="history-5__year h1">1937</div>
                <p>
                    В Московском планетарии открыт единственный в мире
                    научно-звездный театр
                </p>
            </li>
        </ul>
    </div>
    <div class="history-bg-block block _br">
        <div class="history-bg-block__bg">
            <img src="content/first-stone-bg.jpg" alt="" />
        </div>
        <div class="history-bg-block__content">
            <div class="sup-line">НАЧАЛО РАБОТЫ АСТРОНОМИЧЕСКОГО КРУЖКА</div>
            <h2 class="h1">
                <color>1934 год</color> знаменателен еще и тем, что при
                Московском Планетарии начал свою работу первый астрономический
                кружок.
            </h2>
            <div class="history-bg-block__bottom">
                <div>
                    <div class="svg-light">
                        <img src="content/telescop.svg" alt="" />
                    </div>
                    <div class="history-bg-block__row">
                        <div class="">
                            <p>
                                <color>23 сентября 1928 года</color>, в день
                                осеннего равноденствия, началось строительство
                                Московского Планетария. К февралю 1929 года
                                немецкие специалисты прибыли для установки
                                купола. В конце мая, когда зрительный зал был
                                готов, начался монтаж аппарата «Планетарий» под
                                контролем специалистов из фирмы Цейсса.
                            </p>
                        </div>
                        <div class="">
                            <p>
                                Уже 3 августа аппарат был полностью установлен
                                и демонстрировался руководству Моссовета.
                                В последующие месяцы проводилисьзакрытые показы.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="_br" src="content/begin-work.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="white-block ">
    <div class="text-center">
        <div class="sup-line">ПЛАНЕТАРИЙ И РАКЕТНО-КОСМИЧЕСКАЯ ТЕХНИКА</div>
        <div class="h1">
            <color> В 1934-1938 г.</color>
            на базе Московского Планетария работал и заседал Стратосферный
            комитет
        </div>
    </div>
    <div class="history-img-row">
        <div class="history-img-row__item">
            <img
                src="content/history-7.jpg"
                class="history-img-row__img"
                alt=""
            />

            <div class="h2">
                При Планетарии работали инженерно-конструкторские курсы,
                доставшиеся Стратосферному комитету еще от знаменитого ГИРДа
                (группа изучения реактивного движения). Лекции читали В. П.
                Глушко, Г. Э. Лангемак, М. К.Тихонравов.
            </div>
            <p>
                Астрономические и геофизические вопросы консультировали
                профессора Б. А. Воронцов-Вельяминов и П. П. Паренаго. Именно в
                Московском Планетарии впервые в мире был разработан и внедрен
                способ исследования динамики стратосферы при помощи
                стратосферных зондов с дымовыми шашками. В подвале Планетария
                были сконструированы и изготовлены первые жидкостные ракеты
                конструкторов А. И. Полярного, Л. К. Корнеева, Д. С. Душкина.
                Здесь построена и в Останкине испытана первая советская
                двухступенчатая ракета конструкции И. А. Меркулова. Из группы
                ракетчиков подвала Московского Планетария выросло всемирно
                известное конструкторское бюро (КБ-7) по разработке жидкостных
                ракет.
            </p>
        </div>
        <div class="history-img-row__item">
            <div class="d-min-1024 history-img-row__right">
                <p>
                    Его сотрудники изучали верхние слои атмосферы и занимались
                    проблемами реактивного движения. В дни заседания президиума
                    Стратосферного комитета здесь, в Малом зале можно было
                    видеть С. П. Королева, В. П. Глушко, В. П. Ветчинкина, М. К.
                    Тихонравова, Ю. А. Победоносцева, Г. Э. Лангемака.
                </p>
            </div>
            <img
                src="content/history-4.jpg"
                class="history-img-row__img _mt-auto"
                alt=""
            />
            <p>
                Королев среди сотрудников ГИРД. Московская область 1933-1934 г.
            </p>
        </div>
    </div>
</div>
<div class="black-block "">
    <div class="history-4 block">
        <div class="sup-line">ПЛАНЕТАРИЙ И ШКОЛА</div>
        <div class="history-4__row">
            <div class="history-4__content">
                <div class="">
                    <div class="h1">
                        Московский Планетарий, благодаря имеющимся в его
                        распоряжении техническим средствам, становится
                        единственным в своем роде комплексом наглядных учебных
                        пособий.
                    </div>
                    <p>
                        <color
                            >Под звездным небом Планетария учащиеся московских
                            школ ведут практические занятия по астрономии и
                            географии, совершая «кругосветные путешествия»,
                            «путешествия на Северный полюс», получают наглядные
                            доказательства шарообразности Земли, ее суточного и
                            годового движения и т.д. Учащиеся старших классов
                            занимаются сферической астрономией. Циклы лекций для
                            школьников согласованы со школьными программами и
                            являются прекрасным дополнением к тем знаниям,
                            которые учащиеся получают в школе.</color
                        >
                    </p>
                    <p>
                        Как известно, астрономия — наука наблюдательная. Для
                        наблюдений небесных объектов и явлений необходима
                        астрономическая обсерватория. Для этих целей в
                        Московском Планетарии планировалось создание специальной
                        астрономической площадки.
                    </p>
                    <p>
                        Впервые мысль о ее создании возникла в 1939 году. Было
                        принято решение о строительстве площадки в начале лета
                        1941 года. Однако начавшаяся Великая Отечественная война
                        разрушила эти планы. Астрономическая площадка
                        Московского Планетария была открыта в 1947 году к
                        800-летию Москвы.
                    </p>
                </div>
            </div>
            <div class="history-4__img">
                <img src="content/history-9.jpg" class="_br" alt="" />
            </div>
        </div>
    </div>
    <div class="history-1 block" id="wow">
        <img src="content/history-10.jpg" alt class="history-1__full-img _br" />
        <div class="sup-line">
            Планетарий во время Великой Отечественной Войны
        </div>
        <div class="history-1__title h1-big">
            <span>Московский Планетарий работал всю войну</span> и лишь однажды
            был закрыт сроком на два месяца
        </div>
        <div class="history-1__row2">
            <div>
                <p>
                    Во время войны в Московский Планетарий помимо проведения
                    обычных массовых лекций оказывал практическую помощь бойцам
                    и командирам Советской армии в виде специальных лекций
                    военного цикла
                </p>
            </div>
            <div>
                <p>
                    Кроме лекций, проводившихся в Звездном зале,
                    организовывались выездные лекции по астрономии. Эти лекции
                    читались в госпиталях, подшефных воинских частях, в
                    аудиториях Городского военного комиссариата, в агитпунктах
                    противовоздушной обороны.
                </p>
            </div>
        </div>
    </div>
    <div class="history-img-row">
        <div class="history-img-row__item">
            <img
                src="content/history-11.jpg"
                class="history-img-row__img"
                alt=""
            />
            <div class="sup-line">АСТРОНОМИЧЕСКАЯ ПЛОЩАДКА И ОБСЕРВАТОРИЯ</div>
            <div class="h2">
                В 1946 году началось строительство Астрономической площадки.
            </div>
            <p>
                Впервые в истории планетариев этот комплекс инструментов
                познания, обращенный к живым светилам, был задуман автором
                первого советского школьного учебника астрономии Михаилом
                Евгеньевичем Набоковым. А построен как общедоступный город неба,
                трудами московских астрономов и сотрудников Планетария К. Л.
                Баевым, Р. И. Цветовым, А. Б. Поляковым, Е. З. Гиндиным.
            </p>
            <p>
                Астрономическая площадка воссоздавала традицию древних звездных
                обителей, таких как храмовый комплекс в Гелиополе, Стоунхендж в
                Англии, Обсерватория-музеум в Александрии, Нюрнбергский городок
                Региомонтана, Ураниенборг Тихо Браге, Пекинская обсерватория,
                Гданьская обсерватория Яна Гевелия, небесный комплекс Самрат
                Янтра в Джайпуре.
            </p>
        </div>
        <div class="history-img-row__item">
            <img
                src="content/history-12.jpg"
                class="history-img-row__img _mt-auto"
                alt=""
            />
            <p>На астрономической площадке возле глобуса Набокова</p>
        </div>
    </div>
    <div id="modernity" class="history-6  block">
        <div class="sup-line">
            ПЛАНЕТАРИЙ — ЦЕНТР ПОПУЛЯРИЗАЦИИ ЕСТЕСТВЕННОНАУЧНЫХ ЗНАНИЙ
        </div>
        <div class="history-6__row">
            <div class="history-6__left">
                <div class="h1">
                    <color>С 1947 года</color> Московский Планетарий работает в
                    комплексе — Звездный зал, фойе, Астрономическая площадка и
                    Обсерватория.
                </div>
                <p>
                    Он становится крупнейшим в стране центром пропаганды и
                    популяризации естественнонаучных знаний. Ежегодно читаются
                    тысячи лекций по астрономии, наукам о Земле не только в
                    самом Планетарии, но и на предприятиях и в учреждениях
                    Москвы и области.
                </p>
            </div>
            <div class="history-6__right">
                <p>
                    <color
                        >Московский Планетарий оказывает большую
                        научно-методическую помощь другим планетариям. Его
                        сотрудники разрабатывают новые демонстрационные приборы,
                        создают серии диапозитивов и аннотаций к ним, различные
                        методические пособия. На базе Планетария проводятся
                        семинары, лекторские школы, технические консультации.
                        Все планетарии страны начинали свою деятельность при
                        непосредственной помощи и участии Московского
                        Планетария.</color
                    >
                </p>
                <p>
                    В Московском Планетарии проходят стажировку штурманы
                    полярной и дальней авиации, изучают звездное небо южного
                    полушария те, кто впоследствии прокладывал воздушные трассы
                    в Антарктиду.
                </p>
            </div>
        </div>
    </div>
    <div class="history-5 block">
        <div class="history-5__content"></div>
        <div class="history-5__img">
            <img src="content/history-13.jpg" class="_br" alt="" />
        </div>
        <ul class="history-5__years">
            <li class="_br">
                <div class="history-5__year h1">9 100</div>
                <p>
                    звезд на куполе-экране <br />
                    с 2011 года
                </p>
            </li>
            <li class="_br">
                <div class="history-5__year h1">120 000</div>
                <p>
                    посетителей <br />
                    в год открытия — 1929
                </p>
            </li>
            <li class="_br">
                <div class="history-5__year h1">1 млн.</div>
                <p>
                    посетителей <br />
                    ежегодно с 1970-х годов
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="white-block "">
    <div class="history-1">
        <div class="history-1__row">
            <div class="history-1__left">
                <div class="sup-line">ПЛАНЕТАРИЙ И КОСМОНАВТИКА</div>
                <div class="history-1__title h1-big">
                    <span>Немалую лепту Московский Планетарий внес в </span>
                    развитие отечественной космонавтики
                </div>
            </div>
            <div class="history-1__right">
                <div class="svg-light">
                    <img
                        src="content/history-img-2.svg"
                        alt=""
                        class="history-1__img"
                    />
                </div>
            </div>
        </div>
        <div class="history-1__row2">
            <div>
                <p>
                    Именно здесь, начиная с 1960 года в течение 15 лет,
                    проводились занятия по астронавигации с будущими
                    космонавтами. Летчик-космонавт А.А.Леонов, однажды выступая
                    в Звездном зале планетария, сказал: «Путь на Байконур
                    начинался здесь, в Московском Планетарии».
                </p>
            </div>
            <div>
                <p>
                    В семидесятые годы в связи с развитием и триумфом советской
                    космонавтики возникает чрезвычайный интерес ко всему, что
                    связано с космосом. В Московском Планетарии освещаются все
                    самые интересные события в этой сфере, оперативно готовятся
                    новые лекции, рассказывающие о космических полетах и
                    результатах космических исследований. Планетарий -
                    единственное место, где можно получить объективную и
                    достоверную информацию по космической тематике.
                </p>
            </div>
        </div>
    </div>
    <div class="history-img-row ">
        <div class="history-img-row__item">
            <img
                src="content/history-14.jpg"
                class="history-img-row__img"
                alt=""
            />
            <h2>
                В эти годы популярность Московского Планетария возрастает
                необычайно.
            </h2>
            <p>
                Он становится самым стабильно посещаемым в мире — от 800 тысяч
                до миллиона посетителей в год. Всегда прекрасно оснащенный, он
                на равных обменивается опытом со столичными планетариями других
                стран. История Планетария напоминает — во многих начинаниях он
                был и оставался первым.
            </p>
            <p>
                Уникальное здание Московского Планетария — памятник эпохи
                конструктивизма, гордость советской архитектуры — становится
                неотъемлемой частью архитектурного облика столицы — его
                серебристый вытянутый купол придает ему сходство с
                фантастической межпланетной ракетой, устремленной в небо.
            </p>
        </div>
        <div class="history-img-row__item">
            <img
                src="content/history-15.jpg"
                class="history-img-row__img _mt-auto"
                alt=""
            />
            <p>
                <color>
                    Юрий Гагарин в Большом звездном зале Московского
                    планетария</color
                >
            </p>
        </div>
    </div>
</div>
{% endblock %}

