{% macro create(item) %}
<div class="event-preview js-trigger-animate">
    <a href="{{ item.link }}" class="event-preview__hover-link">
        <span>{{ item.title }}</span>
    </a>
    <div class="event-preview__top _br">
        <div class="event-preview__img">
            <img src="{{ item.img }}" alt="" />
        </div>
        <div class="event-preview__top-head">
            <ul class="event-preview__tags">
                {% for tag in item.topTags %}
                <li>
                    <span>{{ tag }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="event-preview__top-bottom">
            <ul class="event-preview__tags">
                {% for tag in item.bottomTags %}
                <li class="{{ tag.class }}">
                    {% if tag.icon %}
                    <span class="icon-{{ tag.icon }}"></span> {% endif %}
                    <span>{{ tag.text }}</span>
                </li>
                {% endfor %}
            </ul>

            {% if item.awards %}

            <ul class="event-preview__awards">
                {% for award in item.awards %}
                <li class="event-preview__award">
                    <span class="event-preview__award-top">{{
                        award.top
                    }}</span>
                    <span class="event-preview__award-name">{{
                        award.text | safe
                    }}</span>
                    <span class="event-preview__award-year">{{
                        award.year
                    }}</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="event-preview__middle">
        <div class="event-preview__title h2">{{ item.title }}</div>
        {% if item.info %}
        <ul class="event-preview__info">
            {% for inf in item.info %}
            <li>
                {% if inf.icon %} <span class="icon-{{ inf.icon }}"></span> {% endif
                %}
                <span>{{ inf.text }}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="event-preview__bottom-wrap">
        {{ item.desc | safe }}
        <div class="event-preview__bottom">
            <a href="{{ item.link }}" class="btn-border">{{ item.btnText }}</a>
            {% if item.moreBtn %}
            <a href="{{ item.link }}" class="btn-link">Подробнее</a>
            {% endif %}
        </div>
    </div>
</div>
{%endmacro %}
