{% extends "pages/_includes/layout.njk" %}
{% block title %} This is the left
side! {% endblock %} 

{% block main %}

{{ breadcrumbs.create({
  items: [
    {
      text: "Главная",
      href: "home.html"
    },
    {
      text: "Посетителям",
      href: "#.html"
    }
  ]
},'Для людей с особыми потребностями') }}
<h1>Для людей с особыми потребностями</h1>
<div class="text">
<h3>Контакты</h3>
<p>По всем вопросам, связанным с доступностью зданиz и программ для людей с разными формами инвалидности, вы можете писать на почту <a href="#">mail@mail.ru</a></p>
<h3>На автомобиле</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>На метро</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Билеты</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Лифты и пандусы</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Собаки-проводники</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Экскурсии с использованием тифлокомментария 
и тактильных материалов</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Экскурсии на русском жестовом языке</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Субтитры</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Социальная история</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Сенсорная сумка</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
<h3>Карта сенсорной безопасности</h3>
<p>В случае, если ваш автомобиль имеет знак «Человек с инвалидностью» на лобовом стекле и зарегистрирован в реестре инвалидных автомобилей, то вы имеете право воспользоваться городской парковкой для инвалидов. Городская парковка располагается ХХХ. В случае необходимости вы можете бесплатно воспользоваться нашими гостевыми колясками для маломобильных посетителей.</p>
</div>{% endblock %}
