<div class="video-popup js-video-popup">
    <div class="video-popup__inner js-video-popup-inner"></div>

    <button class="video-popup__btn-close js-video-popup-close">
        <span>Закрыть</span>
    </button>
</div>
