{% extends "pages/_includes/layout.njk" %} {% block title %}Глоссарий{% endblock
%} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                }
            ]
        },
        "Глоссарий"
    )
}}

<h1>Глоссарий</h1>
<div class="glosarii block">
    <ul class="glosarii__head overfolow-x">
        <li>
            <a href="#letter-1">А</a>
        </li>
        <li>
            <a href="#letter-2">Б</a>
        </li>
        <li>
            <a href="#letter-3">В</a>
        </li>
        <li>
            <a href="#letter-4">Г</a>
        </li>
        <li>
            <a href="#letter-5">Д</a>
        </li>
        <li>
            <a href="#letter-6">Е</a>
        </li>
        <li>
            <a href="#letter-7">Ж</a>
        </li>
        <li>
            <a href="#letter-8">З</a>
        </li>
        <li>
            <a href="#letter-9">И</a>
        </li>
        <li>
            <a href="#letter-10">К</a>
        </li>
        <li>
            <a href="#letter-11">Л</a>
        </li>
        <li>
            <a href="#letter-12">М</a>
        </li>
        <li>
            <a href="#letter-13">Н</a>
        </li>
        <li>
            <a href="#letter-14">О</a>
        </li>
        <li>
            <a href="#letter-15">П</a>
        </li>
        <li>
            <a href="#letter-16">Р</a>
        </li>
        <li>
            <a href="#letter-17">С</a>
        </li>
        <li>
            <a href="#letter-18">Т</a>
        </li>
        <li>
            <a href="#letter-19">У</a>
        </li>
        <li>
            <a href="#letter-20">Ф</a>
        </li>
        <li>
            <a href="#letter-21">Х</a>
        </li>
        <li>
            <a href="#letter-22">Ц</a>
        </li>
        <li>
            <a href="#letter-23">Ч</a>
        </li>
        <li>
            <a href="#letter-24">Ш</a>
        </li>
        <li>
            <a href="#letter-25">Щ</a>
        </li>
        <li>
            <a href="#letter-26">Э</a>
        </li>
        <li>
            <a href="#letter-27">Ю</a>
        </li>
        <li>
            <a href="#letter-28">Я</a>
        </li>
    </ul>
    <div class="glosarii__list">
        <div class="glosarii-item" id="letter-1">
            <div class="glosarii-item__letter">А</div>
            <div class="glosarii-item__list">
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">Абляция</div>
                    <div class="glosarii-item__description">
                        <p>
                            Процесс уноса массы с поверхности твёрдого тела
                            потоком набегающего газа, сопровождаемый поглощением
                            теплоты. Лежит в основе абляционной теплозащиты,
                            предохраняя конструкцию от перегрева.
                        </p>
                    </div>
                </div>
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">Ангара</div>
                    <div class="glosarii-item__description">
                        <p>
                            Название российского КРК, а также семейства
                            одноразовых модульных ракет-носителей лёгкого,
                            среднего и тяжёлого классов, предназначенных для
                            выведения полезных грузов на околоземные орбиты и
                            отлётные траектории. Первый пуск лёгкой ракеты
                            «Ангара-1.2ПП» состоялся 9 июля 2014 года, первый
                            пуск тяжёлого носителя «Ангара-А5» — 23 декабря 2014
                            года.
                        </p>
                    </div>
                </div>
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">Апогей</div>
                    <div class="glosarii-item__description">
                        <p>
                            Наиболее удалённая от центра Земли точка орбиты
                            спутника <br />
                            (естественного или искусственного).
                        </p>
                    </div>
                </div>
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">
                        Аэродинамическое <br />
                        качество
                    </div>
                    <div class="glosarii-item__description">
                        Безразмерная величина, отношение подъёмной силы
                        летательного аппарата к силе лобового сопротивления.
                    </div>
                </div>
            </div>
        </div>
        <div class="glosarii-item" id="letter-2">
            <div class="glosarii-item__letter">Б</div>
            <div class="glosarii-item__list">
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">
                        Баллистическая <br />траектория
                    </div>
                    <div class="glosarii-item__description">
                        <p>
                            Процесс уноса массы с поверхности твёрдого тела
                            потоком набегающего газа, сопровождаемый поглощением
                            теплоты. Лежит в основе абляционной теплозащиты,
                            предохраняя конструкцию от перегрева.
                        </p>
                    </div>
                </div>
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">Баллистическая ракета</div>
                    <div class="glosarii-item__description">
                        <p>
                            Название российского КРК, а также семейства
                            одноразовых модульных ракет-носителей лёгкого,
                            среднего и тяжёлого классов, предназначенных для
                            выведения полезных грузов на околоземные орбиты и
                            отлётные траектории. Первый пуск лёгкой ракеты
                            «Ангара-1.2ПП» состоялся 9 июля 2014 года, первый
                            пуск тяжёлого носителя «Ангара-А5» — 23 декабря 2014
                            года.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="glosarii-item" id="letter-3">
            <div class="glosarii-item__letter">В</div>
            <div class="glosarii-item__list">
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">Восток</div>
                    <div class="glosarii-item__description">
                        <p>
                            Путь, по которому движется тело при отсутствии
                            действия на него аэродинамических сил.
                        </p>
                    </div>
                </div>
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">Восход</div>
                    <div class="glosarii-item__description">
                        <p>
                            Летательный аппарат, который после отключения
                            двигателя и выхода за пределы плотных слоёв
                            атмосферы летит по баллистической траектории.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="glosarii-item" id="letter-4">
            <div class="glosarii-item__letter">Г</div>
            <div class="glosarii-item__list">
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">
                        Газовый <br />ракетный двигатель
                    </div>
                    <div class="glosarii-item__description">
                        <p>
                            Это тип ракетного двигателя, который использует
                            расширение (обычно инертного) газа под давлением для
                            создания тяги.
                        </p>
                    </div>
                </div>
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">
                        Гибридный <br />ракетный двигатель
                    </div>
                    <div class="glosarii-item__description">
                        <p>
                            Химический ракетный двигатель, использующий
                            компоненты топлива в разных агрегатных состояниях -
                            жидком и твёрдом. В твёрдом состоянии может
                            находиться как окислитель, так и горючее.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="glosarii-item" id="letter-5">
            <div class="glosarii-item__letter">Е</div>
            <div class="glosarii-item__list">
                <div class="glosarii-item__row">
                    <div class="glosarii-item__word">ЕКА</div>
                    <div class="glosarii-item__description">
                        <p>
                            Европейское космическое агентство, Международная
                            организация, созданная в 1975 году в целях
                            исследования космоса; было создано на базе и взамен
                            двух первых европейских космических консорциумов
                            1960-х - начала 1970-х годов.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

