<header class="header">
    <div class="header__overlay"></div>
    <div class="inner">
        <div class="header__top">
            <ul class="header__left-menu d-max-1200">
                <li class="search">
                    <a href="#">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M20 20L15.4286 15.4286M10.8571 17.7143C7.07005 17.7143 4 14.6442 4 10.8571C4 7.07005 7.07005 4 10.8571 4C14.6442 4 17.7143 7.07005 17.7143 10.8571C17.7143 14.6442 14.6442 17.7143 10.8571 17.7143Z"
                                stroke="currentColor"
                                stroke-width="1.4"
                            />
                        </svg>
                    </a>
                </li>
            </ul>

            <a href="/" class="header__logo">
                <picture class="header__logo-dark">
                    <source
                        srcset="img/logo-mob.svg"
                        media="(max-width: 1200px)"
                    />
                    <img src="img/logo.svg" alt="Абстрактное изображение" />
                </picture>

                <picture class="header__logo-light">
                    <source
                        srcset="img/logo-mob-white.svg"
                        media="(max-width: 1200px)"
                    />
                    <img
                        src="img/logo-white.svg"
                        alt="Абстрактное изображение"
                    />
                </picture>
            </a>
            <div class="header__right">
                <ul class="header__menu">
                    <!-- <li>
                        <a href="#">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                            >
                                <path
                                    d="M11.4 8L7.8 11.7917M11.4 8L7.8 4.5M11.4 8L0 8M7.2 1L15 1V15H7.2"
                                    stroke="currentColor"
                                    stroke-width="1.4"
                                />
                            </svg>
                            <span>Войти</span>
                        </a>
                    </li> -->
                    <li class="d-min-1200">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M12 6.85714V12L15.4286 15.4286M12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20Z"
                                stroke="currentColor"
                                stroke-width="1.4"
                            />
                        </svg>
                        <span>12:00 по Москве</span>
                    </li>
                    <li class="d-min-1200 divider">|</li>
                    <li class="d-min-1200">
                        <a href="#">
                            <span>Контакты</span>
                        </a>
                    </li>
                    <!-- <li>
                        <div class="header__lang">
                            <button type="button" class="header__lang-current">
                                RU
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                >
                                    <path
                                        d="M8 10L12 14L16 10"
                                        stroke="currentColor"
                                        stroke-width="1.4"
                                    />
                                </svg>
                            </button>
                            <ul class="header__lang-list">
                                <li>
                                    <a href="#">EN</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <li class="d-min-1200">
                        <a href="#">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M20 20L15.4286 15.4286M10.8571 17.7143C7.07005 17.7143 4 14.6442 4 10.8571C4 7.07005 7.07005 4 10.8571 4C14.6442 4 17.7143 7.07005 17.7143 10.8571C17.7143 14.6442 14.6442 17.7143 10.8571 17.7143Z"
                                    stroke="currentColor"
                                    stroke-width="1.4"
                                />
                            </svg>
                        </a>
                    </li>
                    <li class="d-min-760">
                        <a href="#"
                            ><svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M2.79883 16.1985C2.79883 16.6975 2.89712 17.1916 3.08809 17.6527C3.27906 18.1137 3.55897 18.5326 3.91183 18.8855C4.2647 19.2384 4.68361 19.5183 5.14465 19.7093C5.6057 19.9002 6.09984 19.9985 6.59887 19.9985C7.09789 19.9985 7.59204 19.9002 8.05308 19.7093C8.51412 19.5183 8.93303 19.2384 9.2859 18.8855C9.63877 18.5326 9.91867 18.1137 10.1096 17.6527C10.3006 17.1916 10.3989 16.6975 10.3989 16.1985C10.3989 15.6994 10.3006 15.2053 10.1096 14.7443C9.91867 14.2832 9.63877 13.8643 9.2859 13.5114C8.93303 13.1586 8.51412 12.8787 8.05308 12.6877C7.59204 12.4967 7.09789 12.3984 6.59887 12.3984C6.09984 12.3984 5.6057 12.4967 5.14465 12.6877C4.68361 12.8787 4.2647 13.1586 3.91183 13.5114C3.55897 13.8643 3.27906 14.2832 3.08809 14.7443C2.89712 15.2053 2.79883 15.6994 2.79883 16.1985Z"
                                    stroke="currentColor"
                                    stroke-width="1.4"
                                />
                                <path
                                    d="M13.5996 16.1985C13.5996 17.2063 14 18.1729 14.7126 18.8855C15.4253 19.5982 16.3918 19.9985 17.3996 19.9985C18.4075 19.9985 19.374 19.5982 20.0867 18.8855C20.7993 18.1729 21.1997 17.2063 21.1997 16.1985C21.1997 15.1906 20.7993 14.2241 20.0867 13.5114C19.374 12.7988 18.4075 12.3984 17.3996 12.3984C16.3918 12.3984 15.4253 12.7988 14.7126 13.5114C14 14.2241 13.5996 15.1906 13.5996 16.1985Z"
                                    stroke="currentColor"
                                    stroke-width="1.4"
                                />
                                <path
                                    d="M13.6004 16.1985V15.9985C13.6004 15.5741 13.4319 15.1671 13.1318 14.8671C12.8317 14.567 12.4248 14.3984 12.0004 14.3984C11.5761 14.3984 11.1691 14.567 10.869 14.8671C10.569 15.1671 10.4004 15.5741 10.4004 15.9985V16.1985"
                                    stroke="currentColor"
                                    stroke-width="1.4"
                                />
                                <path
                                    d="M2.79883 16.2001V6.00002C2.79883 5.46958 3.00954 4.96087 3.38462 4.58579C3.7597 4.21072 4.26841 4 4.79885 4"
                                    stroke="currentColor"
                                    stroke-width="1.4"
                                />
                                <path
                                    d="M21.1992 16.2001V6.00002C21.1992 5.46958 20.9885 4.96087 20.6134 4.58579C20.2384 4.21072 19.7297 4 19.1992 4"
                                    stroke="currentColor"
                                    stroke-width="1.4"
                                />
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="d-min-1200 header__btns">
                    <a href="#" class="header__sertificat">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M19.7143 12.1758H4.28571M19.7143 12.1758C20.4244 12.1758 21 11.6001 21 10.8901V9.60435C21 8.89427 20.4244 8.31864 19.7143 8.31864H4.28571C3.57563 8.31864 3 8.89427 3 9.60435V10.8901C3 11.6001 3.57563 12.1758 4.28571 12.1758M19.7143 12.1758V18.6044C19.7143 20.0245 18.563 21.1758 17.1429 21.1758H6.85714C5.43698 21.1758 4.28571 20.0245 4.28571 18.6044L4.28571 12.1758M12 8.31864V7.03292M12 8.31864H7.77551C6.55823 8.31864 5.57143 7.33184 5.57143 6.11456V5.74721C5.57143 4.32705 6.7227 3.17578 8.14286 3.17578C10.2731 3.17578 12 4.90268 12 7.03292M12 8.31864H16.2245C17.4418 8.31864 18.4286 7.33184 18.4286 6.11456V5.74721C18.4286 4.32705 17.2773 3.17578 15.8571 3.17578C13.7269 3.17578 12 4.90268 12 7.03292M12 8.31864V21.1758"
                                stroke="currentColor"
                                stroke-width="1.4"
                            />
                        </svg>
                        <span>Подарочный сертификат</span>
                    </a>
                    <a href="#" class="header__buy-bilet">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M7.91667 8.57143H10.25M12.5833 8.57143H16.0833M7.91667 12H10.25M12.5833 12H16.0833M12.5833 15.4286H16.0833M5 4H19V20L16.6667 18.8571L14.3333 20L12 18.8571L9.66667 20L7.33333 18.8571L5 20V4Z"
                                stroke="currentColor"
                                stroke-width="1.4"
                            />
                        </svg>
                        <span>Купить сертификат</span>
                    </a>
                </div>
                <button type="button" class="d-max-200 header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <div class="main-menu">
            <ul class="main-menu__menu">
                <li>
                    <a data-sub="#events" class="js-open-menu" href="#">
                        <span> Афиша</span></a
                    >
                </li>
                <li>
                    <a data-sub="#schedule" class="js-open-menu" href="#"
                        ><span>Расписание</span></a
                    >
                </li>
                <li>
                    <a data-sub="#excursions" class="js-open-menu" href="#"
                        ><span>Экскурсии</span></a
                    >
                </li>
                <li>
                    <a data-sub="#lectures" class="js-open-menu" href="#"
                        ><span>Курсы и лекции</span></a
                    >
                </li>
                <li>
                    <a data-sub="#private-events" class="js-open-menu" href="#"
                        ><span>Частные мероприятия</span></a
                    >
                </li>
                <li>
                    <a data-sub="#visitors" class="js-open-menu" href="#"
                        ><span>Посетителям</span></a
                    >
                </li>
                <li>
                    <a data-sub="#about" class="js-open-menu" href="#"
                        ><span>О Планетарии</span></a
                    >
                </li>
                <li>
                    <a data-sub="#blog" class="js-open-menu" href="#"
                        ><span>Научный блог</span></a
                    >
                </li>
                <li>
                    <a data-sub="#quiz" class="js-open-menu" href="#"
                        ><span>Квизы</span></a
                    >
                </li>
            </ul>
            <div class="main-menu__sub-wrapper">
                <div id="events" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Афиша</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul>
                            <li>
                                <a href="#">Вся афиша</a>
                            </li>
                            <li>
                                <a href="#"
                                    >Программы Большого Звёздного зала</a
                                >
                            </li>
                            <li>
                                <a href="#"
                                    >Интерактивное пространство Лунариум</a
                                >
                            </li>
                            <li>
                                <a href="#">Театр увлекательной науки</a>
                            </li>
                            <li>
                                <a href="#">Программы 4D-кинотеатра</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Программы Малого Звёздного зала</a>
                            </li>
                            <li>
                                <a href="#">Музей Урании</a>
                            </li>
                            <li>
                                <a href="#">Парк неба</a>
                            </li>
                            <li>
                                <a href="#">Лекторий</a>
                            </li>
                        </ul>
                        <a href="#" class="main-menu__sub-bg-link">
                            <img src="img/header-events.jpg" alt="" />
                            <span class="h2">Режим работы</span>
                            <p>с 10.00 до 21.00 <br />выходной - вторник</p>
                            <p>
                                <b
                                    >Экспозиция верхнего уровня посвящена
                                    Земле.</b
                                >
                            </p>
                            <p>
                                <b
                                    >Экспозиция нижнего уровня посвящена
                                    Вселенной..</b
                                >
                            </p>
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14.5859 35.4154L35.4193 14.582M35.4193 14.582V34.582M35.4193 14.582H15.4193"
                                    stroke="white"
                                    stroke-width="1.4"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
                <div id="schedule" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Расписание</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul class="span-2">
                            <li>
                                <a href="#">расписание</a>
                            </li>
                            <li>
                                <a href="#">на сегодня</a>
                            </li>
                            <li>
                                <a href="#">на завтра</a>
                            </li>
                        </ul>
                        <a href="#" class="main-menu__sub-bg-link">
                            <img src="img/header-events.jpg" alt="" />
                            <span>Лекторий</span>
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14.5859 35.4154L35.4193 14.582M35.4193 14.582V34.582M35.4193 14.582H15.4193"
                                    stroke="white"
                                    stroke-width="1.4"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
                <div id="excursions" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Экскурсии</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul>
                            <li>
                                <a href="#">Все экскурсии</a>
                            </li>
                            <li>
                                <a href="#">Для школьников</a>
                            </li>
                            <li>
                                <a href="#">Индивидуальные</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="lectures" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Курсы и лекции</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul>
                            <li>
                                <a href="#">Все курсы и лекции</a>
                            </li>
                            <li>
                                <a href="#">Театр увлекательной науки</a>
                            </li>
                            <li>
                                <a href="#">Астрономические кружки</a>
                            </li>
                            <li>
                                <a href="#">Курсы для взрослых</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Трибуна учёного</a>
                            </li>
                            <li>
                                <a href="#"
                                    >Учебные лекции по астрономии для 9-11
                                    классов</a
                                >
                            </li>
                            <li>
                                <a href="#">Цикл лекций «Звёздные уроки»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="private-events" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Частные мероприятия</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul class="span-2">
                            <li>
                                <a href="#">Все мероприятия</a>
                            </li>
                            <li>
                                <a href="#"
                                    >Романтическое свидание в Планетарии</a
                                >
                            </li>
                            <li>
                                <a href="#"
                                    >Детские праздники и дни рождения в
                                    Планетарии</a
                                >
                            </li>
                            <li>
                                <a href="#">Квест в Планетарии</a>
                            </li>
                        </ul>
                        <a href="#" class="main-menu__sub-bg-link">
                            <img src="img/header-c-events.jpg" alt="" />
                            <span class="h2">Корпоративные мероприятия</span>
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14.5859 35.4154L35.4193 14.582M35.4193 14.582V34.582M35.4193 14.582H15.4193"
                                    stroke="white"
                                    stroke-width="1.4"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
                <div id="visitors" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Посетителям</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul>
                            <li>
                                <a href="#">Общая информация и часы работы</a>
                            </li>
                            <li>
                                <a href="#">Цены и система скидок</a>
                            </li>
                            <li>
                                <a href="#">Схема Планетария</a>
                            </li>
                            <li>
                                <a href="#">Магазин Планетария</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#"
                                    >Для людей с особыми потребностями</a
                                >
                            </li>
                            <li>
                                <a href="#">Вопросы и ответы</a>
                            </li>
                            <li>
                                <a href="#">Правила</a>
                            </li>
                        </ul>
                        <a href="#" class="main-menu__sub-bg-link">
                            <img src="img/header-cafe.jpg" alt="" />
                            <span class="h2"
                                >Кафе <br />
                                Планетария</span
                            >
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14.5859 35.4154L35.4193 14.582M35.4193 14.582V34.582M35.4193 14.582H15.4193"
                                    stroke="white"
                                    stroke-width="1.4"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
                <div id="about" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>О Планетарии</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul>
                            <li>
                                <a href="#">О Планетарии</a>
                            </li>
                            <li>
                                <a href="#">История Планетария</a>
                            </li>
                            <li>
                                <a href="#">Залы Планетария</a>
                            </li>
                            <li>
                                <a href="#">Экспонаты</a>
                            </li>
                            <li>
                                <a href="#">Легенды Планетария</a>
                            </li>
                            <li>
                                <a href="#">Учёный совет</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Экскурсоводы</a>
                            </li>
                            <li>
                                <a href="#">Руководство планетария</a>
                            </li>
                            <li>
                                <a href="#">Вакансии</a>
                            </li>
                            <li>
                                <a href="#">Астрономические новости</a>
                            </li>
                            <li>
                                <a href="#">Пресса о Планетарии</a>
                            </li>
                            <li>
                                <a href="#">Пресс-служба</a>
                            </li>
                        </ul>

                        <a href="#" class="main-menu__sub-bg-link">
                            <img src="img/header-events.jpg" alt="" />
                            <span class="h2">Научный блог</span>
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M14.5859 35.4154L35.4193 14.582M35.4193 14.582V34.582M35.4193 14.582H15.4193"
                                    stroke="white"
                                    stroke-width="1.4"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
                <div id="blog" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Научный блог</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul>
                            <li>
                                <a href="#">Научный блог</a>
                            </li>
                            <li>
                                <a href="#">Астрономические новости </a>
                            </li>
                            <li>
                                <a href="#">Подкасты</a>
                            </li>
                            <li>
                                <a href="#">Глоссарий</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="quiz" class="main-menu__sub">
                    <button class="main-menu__sub-back js-close-menu">
                        <span>Квизы</span>
                    </button>
                    <div class="main-menu__sub-grid">
                        <ul>
                            <li>
                                <a href="#">Все квизы</a>
                            </li>

                            <li>
                                <a href="#">Квиз 1</a>
                            </li>

                            <li>
                                <a href="#">Квиз 2</a>
                            </li>

                            <li>
                                <a href="#">Квиз 3</a>
                            </li>

                            <li>
                                <a href="#">Квиз 4</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Квиз 5</a>
                            </li>

                            <li>
                                <a href="#">Квиз 6</a>
                            </li>

                            <li>
                                <a href="#">Квиз 7</a>
                            </li>

                            <li>
                                <a href="#">Квиз 8</a>
                            </li>

                            <li>
                                <a href="#">Квиз 9</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Квиз 10</a>
                            </li>

                            <li>
                                <a href="#"></a>
                            </li>

                            <li>
                                <a href="#"></a>
                            </li>

                            <li>
                                <a href="#"></a>
                            </li>

                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

