<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{# Force hide preloader if there is a JS error #}
<script>
    setTimeout(() => {
        document.getElementsByTagName('html')[0].classList.add('_is-preloaded');
    }, 5000);
</script>

<script src="https://api-maps.yandex.ru/v3/?apikey=a15d01f0-c384-40dd-b217-1263afbd663f&lang=ru_RU"></script>
