<div class="notifications">
    <div class="notification-cookie js-notification" data-id="cookie">
        <div class="notification-cookie__inner">
            <div class="notification-cookie__text">Наш сайт использует cookies. Продолжая, вы соглашаетесь на хранение файлов cookies</div>
            <button class="notification-cookie__btn-close js-notification-btn-close">
                <span>ОК</span>
            </button>
        </div>
    </div>

    <div class="notification js-notification" data-id="123">
        <div class="inner notification__inner">
            <div class="notification__text"><span class="_color">ВНИМАНИЕ!</span> В ПЕРИОД С 25 ПО 30 ДЕКАБРЯ МАЛЫЙ ЗВЕЗДНЫЙ ЗАЛ ЗАКРЫТ ПО ТЕХНИЧЕСКИМ ПРИЧИНАМ. УВАЖАЕМЫЕ ДРУЗЬЯ! ЕСЛИ ВЫ НЕ СМОГЛИ ДОЗВОНИТЬСЯ В ИНФОРМАЦИОННЫЙ ЦЕНТР, ­ПРОСИМ ОБРАЩАТЬСЯ НА АДРЕСА ЭЛЕКТРОННОЙ ПОЧТЫ В РАЗДЕЛЕ → <a href="contacts.html">КОНТАКТЫ</a> </div>
            <button class="notification__btn-close js-notification-btn-close">
                <svg>
                    <use xlink:href="./img/symbols.svg#sym-close"></use>
                </svg>
                <span>Закрыть</span>
            </button>
        </div>
    </div>

    <div class="notification js-notification" data-id="456">
        <div class="inner notification__inner">
            <div class="notification__text"><span class="_color">ВНИМАНИЕ!</span> В ПЕРИОД С 25 ПО 30 ДЕКАБРЯ МАЛЫЙ ЗВЕЗДНЫЙ ЗАЛ ЗАКРЫТ ПО ТЕХНИЧЕСКИМ ПРИЧИНАМ. </div>
            <button class="notification__btn-close js-notification-btn-close">
                <svg>
                    <use xlink:href="./img/symbols.svg#sym-close"></use>
                </svg>
                <span>Закрыть</span>
            </button>
        </div>
    </div>
</div>
