{% extends "pages/_includes/layout.njk" %} {% block title %}Цены и система
скидок{% endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                }
            ]
        },
        "Цены и система скидок"
    )
}}
<div class="top-row">
    <h1>Цены и система скидок</h1>
</div>
<!-- <div class="block _br price-form">
    <div class="h2">Я хочу посетить</div>
    <form
        action="/"
        data-queryprice='{"url":"json/price.json","method":"POST"}'
        class="price-form__form"
    >
        <div class="price-form__left">
            <select
                name=""
                id=""
                class="select"
                data-placeholder="Выберите пространство"
            >
                <option data-placeholder="true"></option>
                <option value="Пространство 1">Пространство 1</option>
                <option value="Пространство 2">Пространство 2</option>
                <option value="Пространство 3">Пространство 3</option>
            </select>
            <select
                name=""
                id=""
                class="select"
                data-placeholder="Выберите день и время"
            >
                <option data-placeholder="true"></option>
                <option value="Пространство 1">Пространство 1</option>
                <option value="Пространство 2">Пространство 2</option>
                <option value="Пространство 3">Пространство 3</option>
            </select>
            <select name="" id="" class="select" data-placeholder="Для кого">
                <option data-placeholder="true"></option>
                <option value="Пространство 1">Пространство 1</option>
                <option value="Пространство 2">Пространство 2</option>
                <option value="Пространство 3">Пространство 3</option>
            </select>
        </div>
        ."price-form__left
    </form>
</div> -->
<div class="block">
    <div class="price-table">
        <h2>Большой Звездный зал и музей Урании*</h2>
        <div class="price-table__wrap">
            <table class="_column-4">
                <thead>
                    <tr>
                        <td>Категория мест</td>
                        <td>Будни до 15:00</td>
                        <td>Будни после 15:00</td>
                        <td>Выходные и праздничные дни</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Стандарт</td>
                        <td>700 ₽</td>
                        <td>750 ₽</td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>VIP</td>
                        <td>800 ₽</td>
                        <td>850 ₽</td>
                        <td>1000 ₽</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            * Скидки и льготы не распространяются на VIP-места, а также на
            билеты на все полнокупольные музыкальные шоу, концерты в Планетарии
            и билеты на программы «Театр Увлекательной Науки», Занятия из цикла
            ШУН, Астрономия для начинающих, лекции "Звездные уроки" для
            организованных групп, групповое посещение "Астрономия на сфере",
            экскурсионное обслуживание.
        </p>
    </div>
    <div class="price-table">
        <div class="price-table__wrap">
            <table>
                <thead>
                    <tr>
                        <td>Пространство</td>
                        <td>Цена</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Интерактивный музей «Лунариум» по будням</b>
                        </td>
                        <td>800 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Интерактивный музей «Лунариум» по выходным и
                                праздничным дням</b
                            >
                        </td>
                        <td>1 100 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Малый Звездный зал</b>
                        </td>
                        <td>200 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>4D кинотеатр</b>
                        </td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Большая Обсерватория</b>
                        </td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Астроплощадка «Парк неба» (работает с мая по
                                сентябрь)</b
                            >
                        </td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Театр Увлекательной Науки</b>
                        </td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Театр Увлекательной Науки (Абонемент на 6
                                занятий)</b
                            >
                        </td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Астрономический кружок</b>
                        </td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Цикл лекций: Трибуна ученого(с октября по
                                апрель)</b
                            >
                        </td>
                        <td>850 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Цикл лекций: Трибуна молодого ученого</b>
                        </td>
                        <td>850 ₽</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            Все цены указаны в рублях. <br />
            Оплатить билеты можно наличными, кредитными картами, национальной
            платежной картой «Мир».
        </p>
    </div>
    <div class="price-table">
        <div class="price-table__wrap">
            <table>
                <thead>
                    <tr>
                        <td>Пространство</td>
                        <td>Цена</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b
                                >В день рождения на билеты во все зоны. Скидка
                                предоставляется имениннику и действует в течение
                                недели до и после праздничной даты.</b
                            >
                        </td>
                        <td>Скидка до 20% от стоимости билета</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Ветераны Великой Отечественной войны, труженики
                                тыла Великой Отечественной войны</b
                            >
                        </td>
                        <td>Бесплатно</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Инвалиды I и II группы с одним сопровождающим,
                                дети-сироты, дети-инвалиды с одним
                                сопровождающим, многодетные семьи, ветераны и
                                участники боевых действий, родители и члены
                                семей военнослужащих, погибших при исполнении,
                                граждане, подвергшиеся воздействию радиации
                                вследствие катастрофы на Чернобыльской АЭС,
                                Герои Российской Федерации, Герои Советского
                                Союза</b
                            >
                        </td>
                        <td>Скидка до 50% от стоимости билета</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Инвалиды I и II группы с одним сопровождающим,
                                дети-сироты, дети-инвалиды с одним
                                сопровождающим, многодетные семьи, ветераны и
                                участники боевых действий, родители и члены
                                семей военнослужащих, погибших при исполнении,
                                граждане, подвергшиеся воздействию радиации
                                вследствие катастрофы на Чернобыльской АЭС,
                                Герои Российской Федерации, Герои Советского
                                Союза</b
                            >
                        </td>
                        <td>Скидка до 10% от стоимости билета</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            *Кроме мест категории Vip. Льготные билеты можно купить онлайн, для
            их активации в кассе Планетария необходимо иметь подтверждающий
            льготы документ. <br />
            Подробнее о процессе покупки и активации можно узнать здесь. <br />
            Вход в музейные зоны для льготных категорий граждан производится вне
            очереди.
        </p>
    </div>
    <div class="price-table">
        <h2>Цены для инвалидов колясочников</h2>
        <div class="price-table__wrap">
            <table>
                <thead>
                    <tr>
                        <td>Пространство</td>
                        <td>Цена</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Большой Звездный зал и музей Урании*</b>
                        </td>
                        <td>120 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Интерактивный музей «Лунариум»</b>
                        </td>
                        <td>300 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Большая Обсерватория</b>
                        </td>
                        <td>100 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b
                                >Астроплощадка «Парк неба» (работает с мая по
                                сентябрь)</b
                            >
                        </td>
                        <td>50 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Цикл лекций "Трибуна ученого"</b>
                        </td>
                        <td>100 ₽</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Цикл лекций "Трибуна молодого ученого"</b>
                        </td>
                        <td>100 ₽</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            *Кроме мест категории Vip. Льготные билеты можно купить онлайн, для
            их активации в кассе Планетария необходимо иметь подтверждающий
            льготы документ. <br />
            Подробнее о процессе покупки и активации можно узнать здесь. <br />
            Вход в музейные зоны для льготных категорий граждан производится вне
            очереди.
        </p>
    </div>
</div>
{% endblock %}

