<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="csrf-token"
            content="o2OxEzRnU9cBa11KOLKCKkKUWfTV6wup9GGSAtqp"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>404</title>
        {# Force hide preloader if there is a JS error #}
        <script>
            setTimeout(() => {
                document
                    .getElementsByTagName("html")[0]
                    .classList.add("_is-preloaded");
            }, 5000);
        </script>
        <script src="https://api-maps.yandex.ru/v3/?apikey=a15d01f0-c384-40dd-b217-1263afbd663f&lang=ru_RU"></script>
    </head>

    <body class="page-404">
        <div class="p404">
            <div class="p404__ray">
                <img src="img/404-ray.svg" alt="" />
            </div>

            <img src="img/404-bg-1.svg" class="p404__bg-1" alt="" />
            <img src="img/404-bg-2.svg" class="p404__bg-2" alt="" />
            <a href="/" class="p404__logo">
                <img src="img/logo.svg" />
            </a>
            <div class="p404__content">
                <div class="p404__404">
                    <img src="img/404.svg" alt="" />
                </div>

                <div class="p404__desc">Что-то пошло не так</div>
            </div>
            <a href="/" class="p404__go-home">На главную</a>
        </div>
    </body>
</html>

