{% extends "pages/_includes/layout.njk" %} {% block title %}Мероприятия{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                }
            ]
        },
        "Мероприятия"
    )
}}
<div class="top-row">
    <h1>Мероприятия</h1>
    <ul class="top-row__filters">
        <li>
            <a href="#" class="_active">Предстоящие</a>
        </li>
        <li>
            <a href="#">Прошедшие</a>
        </li>
    </ul>
</div>
<div class="block">
    <div class="events-grid">
        {{ event.create({ img: "img/e-1.jpg", title: "Звёздная программа «Небо в
        движении»", info: [ { icon:"marker", text:"Малый Звёздный зал" }, {
        icon:"time", text:"60 минут" } ], desc: "
        <p>
            Сами того не замечая, мы все время находимся в движении - даже,
            когда стоим на месте. Стоит поднять голову и взглянуть на небо, как
            мы заметим движение небесных объектов, звезд и планет. И даже наше
            собственное!
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-2.jpg", title: "Звёздная программа
        «Путеводные звезды»", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Сами того не замечая, мы все время находимся в движении - даже,
            когда стоим на месте. Стоит поднять голову и взглянуть на небо, как
            мы заметим движение небесных объектов, звезд и планет.
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-3.jpg", title: "Фильм «Динозавры.
        История выживших»", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Как многие дети, Селеста очарована динозаврами. Однажды, когда она
            готовилась к докладу об их вымирании, в её комнате появилось
            волшебное и мудрое существо – Лунч. Он задал ей загадочный вопрос: а
            что, если среди нас всё ещё есть динозавры?
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-4.jpg", topTags: ["Эксклюзив",
        "Создано студией планетария"], bottomTags:[ { text:"6+" }, {
        text:"Мультиязычный" }, { icon:"time", text:"46 минут" }, {
        icon:"marker", text:"Большой Звёздный зал" } ] , title: "Фильм «Буран.
        Освоение космоса» ", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Как человек покорял космос? Как менялись представления жителей Земли
            об устройстве окружающего мира? Об этом и многом другом
            рассказывается в фильме «Буран».
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-5.jpg", topTags: ["Эксклюзив",
        "Создано студией планетария"], bottomTags:[ { text:"6+" }, {
        text:"Мультиязычный" }, { icon:"time", text:"46 минут" }, {
        icon:"marker", text:"Большой Звёздный зал" } ] , title: "Фильм «Буран.
        Освоение космоса» ", info: [ { icon:"marker", text:"Малый Звёздный зал"
        }, { icon:"time", text:"60 минут" } ], desc: "
        <p>
            Увлекательная звёздная программа о том, как меняется движение неба в
            зависимости от места наблюдения.
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }} {{ event.create({ img: "img/e-6.jpg", topTags: ["Эксклюзив",
        "Создано студией планетария"], bottomTags:[ { text:"6+" }, {
        text:"Мультиязычный" }, { icon:"time", text:"46 минут" }, {
        icon:"marker", text:"Большой Звёздный зал" } ] , title: "Фильм «Мышата и
        Луна» ", info: [ { icon:"marker", text:"Малый Звёздный зал" }, {
        icon:"time", text:"60 минут" } ], desc: "
        <p>
            Увлекательная звёздная программа о том, как меняется движение неба в
            зависимости от места наблюдения.
        </p>
        ", btnText:"Купить билет от 750 ₽", link:"event.html" ,moreBtn:"true" }
        ) }}
    </div>
    <div class="paginator">
        <a href="#" class="paginator__prev"></a>
        <a href="#" class="paginator__link _active">1</a>
        <a href="#" class="paginator__link">2</a>
        <a href="#" class="paginator__link">3</a>
        <a href="#" class="paginator__link">4</a>
        <a href="#" class="paginator__link">5</a>
        <a href="#" class="paginator__link">6</a>
        <a href="#" class="paginator__next"></a>
    </div>
</div>
{% endblock %}

