{% extends "pages/_includes/layout.njk" %} {% block title %}Звёздный классик {%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Экскурсии",
                    href: "excursions.html"
                }
            ]
        },
        "Звёздный классик"
    )
}}
<div class="top-row">
    <h1>Звёздный классик</h1>
    <div class="top-row__btns d-min-1024">
        <a href="#" class="btn-border"> Купить билет от 750 ₽ </a>
    </div>
</div>
<div class="event-top">
    <div class="event-top__img">
        <img src="img/excursion-1.jpg" alt="" class="" />
    </div>
    <div class="event-top__left">
        <ul class="event-top__tags">
            <li>
                <span>6+</span>
            </li>
            <li>
                <span>Мультиязычный</span>
            </li>
            <li>
                <span class="icon-time"></span>
                <span>46 минут</span>
            </li>
            <li class="_bg">
                <span class="icon-marker"></span>
                <span>Большой Звёздный зал</span>
            </li>
        </ul>
    </div>
</div>
<div class="content-inner">
    <div class="content-inner__main">
        <div class="text block">
            <h2>О программе</h2>
            <p>
                Экскурсия по залам Урании — это прекрасное начало посещения
                Звездного дома, которое подготавливает и погружает наших гостей
                в загадочный мир астрономии и космоса. Урания — муза астрономии,
                ее имя носит наш музей. На экскурсии «Звездный классик»
                посетители познакомятся с самыми интересными страницами истории
                старейшего в России Московского Планетария.
            </p>
            <p>
                <big>
                    На первом уровне музея представлено много фотографий,
                    документов, книг и оборудования, которые иллюстрируют
                    различные исторические факты и события, начиная с 1929 года
                    до наших дней.
                </big>
            </p>
            <p>
                Экскурсовод расскажет о главных артефактах прошлого Звездного
                дома — деталях аппарата «Планетарий» № 13 и аппарата
                «Планетарий» № 313. Они зажигали искусственное небо на куполе
                Планетария в разное время с 1929 по 1994 годы. Витринная
                экспозиция представлена коллекцией старинных инструментов —
                телескопов, угломеров, солнечных часов, теодолитов. Тему
                астрономических инструментов развивает и Морской уголок,
                оформленный в духе корабельной стилистики с палубой, парусами,
                штурвалом и рындой.
            </p>
            <p>
                <big
                    >На втором уровне музея представлены Глобусы Земли, Луны,
                    Марса и Венеры, полусферы всех планет Солнечной системы,
                    обширная коллекция образцов неземного вещества.
                </big>
            </p>
            <p>
                В коллекции представлено более сотни метеоритов, которые
                называют «камнями с небес». В разное время они упали
                на поверхность нашей планеты, принося нам бесценную информацию
                о других мирах. Это и есть самые настоящие инопланетяне,
                пришельцы из Космоса, с других планет. В витражах этого уровня
                изображены объекты глубокого Космоса — туманности, звездные
                скопления, галактики. Здесь можно любоваться необыкновенными
                картинами природы, Космоса и осознавать, как многообразен
                и удивителен окружающий нас мир!
            </p>
        </div>

        <div class="block text d-max-1024">
            <div class="sidebar-cards swiper">
                <div class="swiper-wrapper">
                    <div class="sidebar-card swiper-slide _br">
                        <div class="sidebar-card__head">
                            <svg
                                width="51"
                                height="51"
                                viewBox="0 0 51 51"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                                    fill="url(#Gradient)"
                                />
                            </svg>
                        </div>
                        <h3>
                            <color>Памятка посетителя</color>
                        </h3>
                        <p>
                            Минимальное количество – <b>1 человек</b><br />
                            Максимальное количество — <b>3 человека</b>
                        </p>
                    </div>
                    <div class="sidebar-card swiper-slide _br">
                        <div class="sidebar-card__head">
                            <svg
                                width="68"
                                height="41"
                                viewBox="0 0 68 41"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 14.5312C3.48387 14.5312 2.254 24.4563 3.48387 24.4563C4.861 24.4563 5.488 8.85975 7.03226 8.85975C8.491 8.85975 8.524 31.9001 10.2258 31.9001C11.9276 31.9001 12.319 0.707031 13.7742 0.707031C15.289 0.707031 14.827 39.6983 16.9677 39.6983C18.985 39.6983 18.886 0.707031 20.5161 0.707031C22.153 0.707031 21.889 31.9001 23.7097 31.9001C25.816 31.9001 25.1855 8.85975 26.9032 8.85975C28.621 8.85975 28.8172 24.4563 30.4516 24.4563C32.086 24.4563 32.284 14.5312 34 14.5312C35.584 14.5312 35.65 24.4563 37.1936 24.4563C38.851 24.4563 39.016 8.85975 40.7419 8.85975C42.4679 8.85975 41.986 31.9001 43.9355 31.9001C45.885 31.9001 45.583 0.707031 47.129 0.707031C48.784 0.707031 48.487 39.6983 50.6774 39.6983C52.711 39.6983 52.15 0.707031 53.871 0.707031C55.516 0.707031 54.9997 31.9001 57.4194 31.9001C59.839 31.9001 58.354 8.85975 60.6129 8.85975C62.8718 8.85975 62.7249 24.4563 63.8065 24.4563C64.888 24.4563 64.2034 14.5312 67 14.5312"
                                    stroke="url(#Gradient)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                        <p>
                            Услуга «РАДИОГИД» на русском языке —
                            <b>2500 ₽ за группу</b>
                        </p>
                        <p>
                            Услуга «РАДИОГИД» на англиском языке —
                            <b>2500 ₽ за группу</b>
                        </p>
                    </div>
                    <div class="sidebar-card swiper-slide _br">
                        <div class="sidebar-card__head">
                            <svg
                                width="55"
                                height="55"
                                viewBox="0 0 55 55"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M36.3293 34.5458L18.6707 19.7314M40.1417 25.1416L14.8581 29.1357M35.0344 15.0716L19.9659 39.2056M22.8827 12.0216L32.1174 42.2556M11.4572 19.9977L43.5428 34.2795M9.81122 35.3809L45.1768 18.8963M21.5271 47.9804L33.4729 6.29677M40.6137 47.339L14.386 6.93822M54 30.8664L1 23.4108M49.9455 7.62813L5.05468 46.6491M27.494 0.644531V53.6327"
                                    stroke="url(#Gradient)"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>

                            <div class="sidebar-card__sale">-10%</div>
                        </div>
                        <p>
                            Будние дни: <br />
                            <b
                                >до 15:00 — 630 ₽/шт
                                <span class="_old-price">700 ₽</span></b
                            >
                        </p>
                        <p>
                            Будние дни: <br />
                            <b
                                >после 15:00 — 680 ₽/шт
                                <span class="_old-price">750 ₽</span></b
                            >
                        </p>
                        <p>
                            Выходные дни: <br />
                            <b
                                >770 ₽/шт
                                <span class="_old-price">850 ₽</span></b
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block text">
            <h2>Экскурсоводы</h2>
            <div class="guides-swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-2.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Герасимов Михаил Анатольевич
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-3.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Книголюбов Евгений Тищенко
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-4.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Константовна Маргарита Идраковна
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="guide-preview">
                            <img
                                src="img/excursion-5.jpg"
                                alt=""
                                class="guide-preview__img _br"
                            />
                            <div class="guide-preview__name">
                                Константовна Маргарита Идраковна
                            </div>
                            <div class="guide-preview__desc">
                                <p>
                                    Продюсер полнокупольного кино, сотрудник
                                    Европейской южной обсерватории
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner__sidebar d-min-1024">
        <div class="sidebar-card _br">
            <div class="sidebar-card__head">
                <svg
                    width="51"
                    height="51"
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M25.5 0C25.5 19.1282 27.753 23.247 34.5121 16.4878C27.753 23.247 31.8718 25.5 51 25.5C31.8718 25.5 27.753 27.753 34.5121 34.5121C27.753 27.753 25.5 31.8718 25.5 51C25.5 31.8718 23.247 27.753 16.4878 34.5121C23.247 27.753 19.1282 25.5 0 25.5C19.1282 25.5 23.247 23.247 16.4878 16.4878C23.247 23.247 25.5 19.1282 25.5 0Z"
                        fill="url(#Gradient)"
                    />
                </svg>
            </div>
            <h3>
                <color>Памятка посетителя</color>
            </h3>
            <p>
                Минимальное количество – <b>1 человек</b><br />
                Максимальное количество — <b>3 человека</b>
            </p>
        </div>
        <div class="sidebar-card _br">
            <div class="sidebar-card__head">
                <svg
                    width="68"
                    height="41"
                    viewBox="0 0 68 41"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1 14.5312C3.48387 14.5312 2.254 24.4563 3.48387 24.4563C4.861 24.4563 5.488 8.85975 7.03226 8.85975C8.491 8.85975 8.524 31.9001 10.2258 31.9001C11.9276 31.9001 12.319 0.707031 13.7742 0.707031C15.289 0.707031 14.827 39.6983 16.9677 39.6983C18.985 39.6983 18.886 0.707031 20.5161 0.707031C22.153 0.707031 21.889 31.9001 23.7097 31.9001C25.816 31.9001 25.1855 8.85975 26.9032 8.85975C28.621 8.85975 28.8172 24.4563 30.4516 24.4563C32.086 24.4563 32.284 14.5312 34 14.5312C35.584 14.5312 35.65 24.4563 37.1936 24.4563C38.851 24.4563 39.016 8.85975 40.7419 8.85975C42.4679 8.85975 41.986 31.9001 43.9355 31.9001C45.885 31.9001 45.583 0.707031 47.129 0.707031C48.784 0.707031 48.487 39.6983 50.6774 39.6983C52.711 39.6983 52.15 0.707031 53.871 0.707031C55.516 0.707031 54.9997 31.9001 57.4194 31.9001C59.839 31.9001 58.354 8.85975 60.6129 8.85975C62.8718 8.85975 62.7249 24.4563 63.8065 24.4563C64.888 24.4563 64.2034 14.5312 67 14.5312"
                        stroke="url(#Gradient)"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <p>Услуга «РАДИОГИД» на русском языке — <b>2500 ₽ за группу</b></p>
            <p>
                Услуга «РАДИОГИД» на англиском языке — <b>2500 ₽ за группу</b>
            </p>
        </div>
        <div class="sidebar-card _br">
            <div class="sidebar-card__head">
                <svg
                    width="55"
                    height="55"
                    viewBox="0 0 55 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M36.3293 34.5458L18.6707 19.7314M40.1417 25.1416L14.8581 29.1357M35.0344 15.0716L19.9659 39.2056M22.8827 12.0216L32.1174 42.2556M11.4572 19.9977L43.5428 34.2795M9.81122 35.3809L45.1768 18.8963M21.5271 47.9804L33.4729 6.29677M40.6137 47.339L14.386 6.93822M54 30.8664L1 23.4108M49.9455 7.62813L5.05468 46.6491M27.494 0.644531V53.6327"
                        stroke="url(#Gradient)"
                        stroke-miterlimit="10"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <div class="sidebar-card__sale">-10%</div>
            </div>
            <p>
                Будние дни: <br />
                <b>до 15:00 — 630 ₽/шт <span class="_old-price">700 ₽</span></b>
            </p>
            <p>
                Будние дни: <br />
                <b
                    >после 15:00 — 680 ₽/шт
                    <span class="_old-price">750 ₽</span></b
                >
            </p>
            <p>
                Выходные дни: <br />
                <b>770 ₽/шт <span class="_old-price">850 ₽</span></b>
            </p>
        </div>
    </div>
</div>

<div class="white-block">
    <div class="block excursion-prices">
        <div class="h1">Цены и условия</div>
        <div class="text">
            <h2>Условия</h2>
            <p>
                На каждого человека нужны билеты в Большой Звёздный зал; <br />
                В будние дни предоставляется скидка 10%. Вы приобретаете билет
                за 630 ₽/шт до 15:00 и 680 ₽/шт если после 15:00 <br />
                В выходные дни предоставляется скидка 10%. Вы приобретаете билет
                за 770 ₽/шт вне зависимости от времени
            </p>
        </div>

        <form
            id="excursion-prices-form"
            method="POST"
            action="/"
            data-queryprice='{"url":"json/queryPrice.json","method":"POST"}'
            class="excursion-prices__form"
        >
            <div class="excursion-prices__form-row">
                <div class="excursion-prices__form-quantity">
                    <span class="excursion-prices__form-title"
                        ><color>Экскурсия для</color></span
                    >
                    <select class="select" name="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <span>человек</span>
                </div>
                <div class="excursion-prices__form-selects">
                    <select class="select" name="language">
                        <option value="На русском языке">
                            На русском языке
                        </option>
                        <option value="На английском языке">
                            На английском языке
                        </option>
                    </select>
                    <select class="select" name="time">
                        <option value="в будний день до 15:00">
                            в будний день до 15:00
                        </option>
                        <option value="в будний день после 15:00">
                            в будний день после 15:00
                        </option>
                    </select>
                    <select class="select" name="age">
                        <option value="для взрослых">для взрослых</option>
                        <option value="для детей">для детей</option>
                    </select>
                </div>
            </div>

            <div class="excursion-prices__info">
                <div class="h2">
                    Стоимость для группы из
                    <span id="excursion-info-quantity">3</span> человек –
                    <color><span id="excursion-info-price"> 500</span> ₽</color>
                </div>
                <p id="excursion-info-desc">
                    Экскурсия на русском языке в будний день до 15:00, для
                    взрослых
                </p>
            </div>
            <button class="btn-border">Купить билет</button>
            <ul class="excursion-prices__links">
                <li>
                    <a href="#">
                        <color>Правила бронирования и оплаты экскурсий</color>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <color>Если вас больше 3 человек</color>
                    </a>
                </li>
            </ul>
        </form>
    </div>
    <div class="block another-programs">
        <div class="h1">Рекомендуем также посетить</div>
        <div class="slider-3 swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ event.create({ img: "img/events.jpg", topTags:
                    ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                    text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                    text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                    Музей Урании (1 час)" } ], awards: [{ top:"ПОБЕДИТЕЛЬ",
                    text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ СТРОЧКИ", year:"2023" },{
                    top:"ПОБЕДИТЕЛЬ", text:"НАЗВАНИЕ КОНКУРСА В&nbsp;ТРИ
                    СТРОЧКИ", year:"2023" }] , title: "Фильм «Загадка Жизни»",
                    info: [ { icon:"marker", text:"Малый Звёздный зал" }, {
                    icon:"time", text:"60 минут" } ], desc: "
                    <p>
                        В истории Московского планетария есть имена-легенды,
                        имена людей, судьбы которых неразрывно переплетены с его
                        судьбой. Одному из них, Станиславу Васильевичу Широкову,
                        30 ноября 2012 года исполнилось бы 80 лет.
                    </p>
                    ", btnText:"Купить билет от 750 ₽", link:"event.html"
                    ,moreBtn:"true" } ) }}
                </div>
                <div class="swiper-slide">
                    {{ event.create({ img: "img/gallery-3.jpg", topTags:
                    ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                    text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                    text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                    Музей Урании (1 час)" } ], title: "Звёздная программа «Небо
                    в движении»", info: [ { icon:"marker", text:"Малый Звёздный
                    зал" }, { icon:"time", text:"60 минут" } ], desc: "
                    <p>
                        Сами того не замечая, мы все время находимся в движении
                        - даже, когда стоим на месте. Стоит поднять голову и
                        взглянуть на небо, как мы заметим движение небесных
                        объектов, звезд и планет. И даже наше собственное!
                    </p>
                    ", btnText:"Купить билет от 750 ₽", link:"event.html"
                    ,moreBtn:"true" } ) }}
                </div>
                <div class="swiper-slide">
                    {{ event.create({ img: "img/event-program.jpg", topTags:
                    ["Эксклюзив", "Создано студией планетария"], bottomTags:[ {
                    text:"6+" }, { text:"Мультиязычный" }, { icon:"time",
                    text:"46 минут" }, { icon:"marker", class:"_bg", text:"+
                    Музей Урании (1 час)" } ], title: "Звёздная программа
                    «Путеводные звезды»", info: [ { icon:"marker", text:"Малый
                    Звёздный зал" }, { icon:"time", text:"60 минут" } ], desc: "
                    <p>
                        Сами того не замечая, мы все время находимся в движении
                        - даже, когда стоим на месте. Стоит поднять голову и
                        взглянуть на небо, как мы заметим движение небесных
                        объектов, звезд и планет.
                    </p>
                    ", btnText:"Купить билет от 750 ₽", link:"event.html"
                    ,moreBtn:"true" } ) }}
                </div>
            </div>
            <div class="slider-3__pagi"></div>
        </div>
    </div>
</div>
{% endblock %}

