{% extends "pages/_includes/layout.njk" %} {% block title %}Вращающийся стул{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "О планетарии",
                    href: "about.html"
                }
            ]
        },
        "Частные мероприятия"
    )
}}
<div class="top-row">
    <h1>Частные мероприятия</h1>
    <ul class="top-row__filters overfolow-x w-100">
        <li>
            <a href="#" class="_active">Все мероприятия</a>
        </li>
        <li>
            <a href="#">Романтическое свидание</a>
        </li>
        <li>
            <a href="#">Детский праздник</a>
        </li>
        <li>
            <a href="#">Квест в Планетарии</a>
        </li>
        <li>
            <a href="#">Корпоративное мероприятие</a>
        </li>
    </ul>
</div>
<div class="block">
    <div class="events-grid">
        {{ event.create({ img: "img/pe-1.jpg", title: "Свидание в Музее Урании",
        info: [ { icon: "heart", text: "Романтическое свидание" }, { icon:
        "time", text: "Экскурсия проходит с 21:00 до 23:00 ежедневно кроме
        вторника" } ], btnText: "Подробнее", desc:"
        <p>
            Это индивидуальная программа по ночному музею Урании после закрытия
            Планетария.
        </p>
        " , link: "exponat.html" }) }} {{ event.create({ img: "img/pe-2.jpg",
        title: "Свидание под куполом Планетария", info: [ { icon: "heart", text:
        "Романтическое свидание" }, { icon: "time", text: "Экскурсия проходит с
        21:00 до 23:00 ежедневно кроме вторника" }, { icon: "time", text:
        "Начало вечера в 21:00" }, { icon: "time", text: "Начало программы в
        Большом Звёздном зале в 22:00" } ], btnText: "Подробнее", desc:"
        <p>
            Индивидуальная программа в Московском Планетарии только для вас
            двоих – это погружение в атмосферу загадочности Вселенной и
            ошеломляющая информация о космосе.
        </p>
        " , link: "exponat.html" }) }} {{ event.create({ img: "img/pe-3.jpg",
        title: "Космические следопыты (премьера)", info: [ { icon: "child",
        text: "Детский праздник" }, { icon: "person", text: "Для детей от 6 лет"
        }, { icon: "persons", text: "Группа от 15 человек" }, { icon: "person",
        text: "1 экскурсовод на группу" } ], btnText: "Подробнее", desc:"
        <p>
            Юные следопыты на примере экспонатов Залов Урании познакомятся с
            планетами Солнечной системы, в игровом формате исследуют условия
            жизни на разных планетах.
        </p>
        " , link: "exponat.html" }) }} {{ event.create({ img: "img/pe-4.jpg",
        title: "Спецотряд Космос", info: [ { icon: "child", text: "Детский
        праздник" }, { icon: "person", text: "Для детей от 6 лет" }, { icon:
        "persons", text: "Группа от 15 человек" }, { icon: "person", text: "1
        экскурсовод на группу" } ], btnText: "Подробнее", desc:"
        <p>
            Индивидуальная программа в Московском Планетарии только для вас
            двоих – это погружение в атмосферу загадочности Вселенной и
            ошеломляющая информация о космосе.
        </p>
        " , link: "exponat.html" }) }} {{ event.create({ img: "img/pe-5.jpg",
        title: "Квест в Планетарии", info: [ { icon: "heart", text:
        "Романтическое свидание" }, { icon: "time", text: "Экскурсия проходит с
        21:00 до 23:00 ежедневно кроме вторника" } ], btnText: "Подробнее",
        desc:"
        <p>
            Это индивидуальная программа по ночному музею Урании после закрытия
            Планетария.
        </p>
        " ,link: "exponat.html" }) }} {{ event.create({ img: "img/pe-6.jpg",
        title: "Квест в Планетарии", info: [ { icon: "heart", text:
        "Романтическое свидание" }, { icon: "time", text: "Экскурсия проходит с
        21:00 до 23:00 ежедневно кроме вторника" } ], btnText: "Подробнее",
        desc:"
        <p>
            Юные следопыты на примере экспонатов Залов Урании познакомятся с
            планетами Солнечной системы, в игровом формате исследуют условия
            жизни на разных планетах.
        </p>
        " , link: "exponat.html" }) }} {{ event.create({ img: "img/pe-7.jpg",
        title: "КСвидание в Музее Урании", info: [ { icon: "persons", text: "Для
        компаний" } ], btnText: "Подробнее", desc:"
        <p>
            Юные следопыты на примере экспонатов Залов Урании познакомятся с
            планетами Солнечной системы, в игровом формате исследуют условия
            жизни на разных планетах.
        </p>
        " , link: "exponat.html" }) }} {{ event.create({ img: "img/pe-1.jpg",
        title: "Свидание в Музее Урании", info: [ { icon: "heart", text:
        "Романтическое свидание" }, { icon: "time", text: "Экскурсия проходит с
        21:00 до 23:00 ежедневно кроме вторника" }], btnText: "Подробнее",
        desc:"
        <p>
            Это индивидуальная программа по ночному музею Урании после закрытия
            Планетария.
        </p>
        " , link: "exponat.html" }) }} {{ event.create({ img: "img/pe-2.jpg",
        title: "Свидание под куполом Планетария", info: [ { icon: "heart", text:
        "Романтическое свидание" }, { icon: "time", text: "Экскурсия проходит с
        21:00 до 23:00 ежедневно кроме вторника" }, { icon: "time", text:
        "Начало вечера в 21:00" }, { icon: "time", text: "Начало программы в
        Большом Звёздном зале в 22:00" }], btnText: "Подробнее", desc:"
        <p>
            Индивидуальная программа в Московском Планетарии только для вас
            двоих – это погружение в атмосферу загадочности Вселенной и
            ошеломляющая информация о космосе.
        </p>
        ", link: "exponat.html" }) }}
    </div>
    <div class="paginator">
        <a href="#" class="paginator__prev"></a>
        <a href="#" class="paginator__link _active">1</a>
        <a href="#" class="paginator__link">2</a>
        <a href="#" class="paginator__link">3</a>
        <a href="#" class="paginator__link">4</a>
        <a href="#" class="paginator__link">5</a>
        <a href="#" class="paginator__link">6</a>
        <a href="#" class="paginator__next"></a>
    </div>
</div>

{% endblock %}

