{% extends "pages/_includes/layout.njk" %} {% block title %}Учёный совет{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Посетителям",
                    href: "#.html"
                }
            ]
        },
        "Учёный совет"
    )
}}

<h1>Учёный совет</h1>
<div class="text">
    <p>
        Раздел сайта Легенды Планетария — дань памяти и благодарности тем людям,
        которые всю свою жизнь посвятили Планетарию. Их идеи и мысли до сих пор
        наполняют попутным ветром творческие паруса Московского планетария.
    </p>
</div>
<div class="block">
    <div class="personal-grid">
        {{ persona.create({ img: "img/sovet-1.jpg", name: "Садовничий Виктор
        Антонович", desc: "
        <p>
            Ректор Московского государственного университета имени
            М.В.Ломоносова. Действительный член РАН по Отделению математических
            наук, секция прикладной математики и информатики, член Бюро
            Отделения математических наук РАН, член Президиума РАН,
            вице-президент РАН (с 2008). Почётный член Российской академии
            образования. Председатель Ученого совета Московского планетария.
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-2.jpg", name: "Черепащук
        Анатолий Михайлович", desc: "
        <p>
            Доктор физико-математических наук, профессор, академик РАН, научный
            руководитель Государственного астрономического института им. П. К.
            Штернберга Московского Государственного Университета им. М.В.
            Ломоносова, заместитель председателя Ученого совета Московского
            планетария.В студенческие и аспирантские годы (1961-1967 гг.) А.М.
            Черепащук проводил экскурсии для посетителей Московского Планетария
            на Астрономической Площадке.
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-3.jpg", name: "Вибе Дмитрий
        Зигфридови", desc: "
        <p>
            Доктор физико-математических наук, заведующий отделом физики и
            эволюции звезд Института астрономии РАН
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-4.jpg", name: "Вибе Дмитрий
        Зигфридови", desc: "
        <p>
            Доктор физико-математических наук, профессор кафедры астрофизики и
            звездной астрономии ГАИШ МГУ, действительный член Международной АН
            ВШ, член Международного астрономического союза, член Европейского
            астрономического общества, член Евроазиатского астрономического
            общества. Выпускник астрономических кружков Московского планетария.
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-5.jpg", name: "Ковалев Юрий
        Юрьевич", desc: "
        <p>
            Доктор физико-математических наук, член-корреспондент РАН, главный
            научный сотрудник и руководитель лабораторий в ФИАН и МФТИ.
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-6.jpg", name: "Крикалёв
        Сергей Константинович", desc: "
        <p>
            Советский и российский космонавт, рекордсмен Земли по суммарному
            времени пребывания в космосе (803 дня за шесть стартов). Бортинженер
            космических кораблей «Союз ТМ-7», «Союз ТМ-12» и орбитальной станции
            «Мир», лётчик-космонавт СССР № 67. Герой Советского Союза и Герой
            России (один из 4 человек, удостоенных обоих званий). Исполнительный
            директор по пилотируемым космическим программам госкорпорации
            «Роскосмос».
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-7.jpg", name: "Ламзин
        Сергей Анатольевич", desc: "
        <p>
            Доктор физико-математических наук, ведущий научный сотрудник
            лаборатории новых фотометрических методов Государственного
            астрономического института имени П.К. Штернберга МГУ.
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-8.jpg", name: "Полетаев
        Анатолий Иванович", desc: "
        <p>
            Кандидат геолого-минералогических наук. Заведующий лабораторией
            геологических исследований космическими методами кафедры
            динамической геологии МГУ. Действительный член Московского общества
            испытателей природы.
        </p>
        " } ) }} {{ persona.create({ img: "img/sovet-9.jpg", name: "Романов
        Андрей Михайлович", desc: "
        <p>
            Кандидат физико-математических наук, Ученый секретарь Ученого совета
            Московского Планетария.
        </p>
        " } ) }}
    </div>
    <div class="paginator">
        <a href="#" class="paginator__prev"></a>
        <a href="#" class="paginator__link _active">1</a>
        <a href="#" class="paginator__link">2</a>
        <a href="#" class="paginator__link">3</a>
        <a href="#" class="paginator__link">4</a>
        <a href="#" class="paginator__link">5</a>
        <a href="#" class="paginator__link">6</a>
        <a href="#" class="paginator__next"></a>
    </div>
</div>
{% endblock %}

