{% macro faq(title) %}
<div class="faq _br">
    <div class="faq__head">
        <div class="faq__title h2">{{ title }}</div>
    </div>
    <div class="faq__body">
        <div class="text">
            <p>
                В целях безопасности посетителей Планетарий ввел
                <a href="#">новые временные правила</a> посещения. Пожалуйста,
                ознакомьтесь с правилами заранее и соблюдайте их, находясь на
                территории Планетария.Мы следуем рекомендациям Роспотребнадзора
                по дезинфекции помещений. В фойе размещены емкости с
                антисептиком в свободном доступе. Все сотрудники,
                взаимодействующие с посетителями:
            </p>
            <ul>
                <li>обеспечены средствами индивидуальной защиты</li>
                <li>соблюдают на рабочих местах санитарные правила</li>
                <li>
                    проходят регулярный контроль температуры тела и не
                    допускаются на рабочее место с повышенной температурой.
                </li>
            </ul>
        </div>
    </div>
</div>
{%endmacro %} {% extends "pages/_includes/layout.njk" %} {% block title
%}Вопросы и ответы{% endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Посетителям",
                    href: "visitors.html"
                }
            ]
        },
        "Вопросы и ответы"
    )
}}
<div class="top-row">
    <h1>Вопросы и ответы</h1>
    <ul class="top-row__filters overfolow-x w-100">
        <li>
            <a href="#" class="_active">О Планетарии</a>
        </li>
        <li>
            <a href="#">Расписание</a>
        </li>
        <li>
            <a href="#">Кассы</a>
        </li>
        <li>
            <a href="#">Билеты</a>
        </li>
        <li>
            <a href="#">Экскурсии</a>
        </li>
        <li>
            <a href="#">Большой Звездный зал</a>
        </li>
        <li>
            <a href="#">Выставочный зал Урании</a>
        </li>
        <li>
            <a href="#">Большая обсерватория</a>
        </li>
        <li>
            <a href="#">Большой Звездный зал</a>
        </li>
        <li>
            <a href="#">Астрономические кружки</a>
        </li>
        <li>
            <a href="#">Для людей с ограниченными возможностями</a>
        </li>
    </ul>
</div>
<div class="block">
    <div class="faq-grid">
        {{ faq("График работы") }}
        {{ faq("Адрес и схема проезда") }}
        {{ faq("Как добраться до Московского Планетария") }}
        {{ faq("Количество посадочных мест") }}
        {{ faq("Что можно посетить в Планетарии?") }}
        {{ faq("Как Планетарий обеспечивает безопасность посетителей?") }}
        {{ faq("Есть ли камера хранения для личных вещей (чемодан/сумка)?") }}
        {{ faq("Где можно оставить коляску/велосипед/самокат?") }}
        {{ faq("Можно ли посетить Планетарий с маленькими детьми?") }}
        {{
            faq(
                "Можно ли посетить Планетарий с животными  (маленькими/в сумке-переноске)?"
            )
        }}
    </div>
</div>

{% endblock %}

