{% extends "pages/_includes/layout.njk" %} {% block title %}Серийные подкасты{%
endblock %} {% block bodyclass %}page-podcasts{%
endblock %} {% block main %}

{{
    breadcrumbs.create(
        {
            items: [
                {
                    text: "Главная",
                    href: "home.html"
                },
                {
                    text: "Научный блог",
                    href: "blogs.html"
                },
                {
                    text: "Подкасты",
                    href: "podcasts.html"
                }
            ]
        },
        "Серийные Подкасты"
    )
}}

<div class="top-row">
    <h1>Серийные подкасты</h1>
</div>

<div class="block">
    <div class="events-grid">
        {{ event.create(
            {
                img: "img/about-9.jpg",
                title: "Необитаемый Марс и ракета российского стартапа",
                info: [
                    { icon: "date", text: "15 мая 2023" },
                    { icon:"time", text:"60 минут" },
                    { icon: "headphones", text: "11 выпуск" }
                ],
                desc: "",
                link:"event.html"
            }
        ) }}
        {{ event.create(
            {
                img: "img/about-10.jpg",
                title: "Астрономия в годы войны",
                info: [
                    { icon: "date", text: "13 мая 2023" },
                    { icon:"time", text:"45 минут" },
                    { icon: "headphones", text: "11 выпуск" }
                ],
                desc: "",
                link:"event.html"
            }
        ) }}
        {{ event.create(
            {
                img: "img/about-11.jpg",
                title: "Сказки о небе. Происхождение Луны",
                info: [
                    { icon: "date", text: "14 мая 2023" },
                    { icon:"time", text:"50 минут" },
                    { icon: "headphones", text: "11 выпуск" }
                ],
                desc: "",
                link:"event.html"
            }
        ) }}
        {{ event.create(
            {
                img: "img/about-5.jpg",
                title: "На краю Вселенной",
                info: [
                    { icon: "date", text: "15 мая 2023" },
                    { icon:"time", text:"60 минут" },
                    { icon: "headphones", text: "11 выпуск" }
                ],
                desc: "",
                link:"event.html"
            }
        ) }}
        {{ event.create(
            {
                img: "img/about-6.jpg",
                title: "Астрономические открытия",
                info: [
                    { icon: "date", text: "13 мая 2023" },
                    { icon:"time", text:"45 минут" },
                    { icon: "headphones", text: "11 выпуск" }
                ],
                desc: "",
                link:"event.html"
            }
        ) }}
        {{ event.create(
            {
                img: "img/about-7.jpg",
                title: "Тунгусский феномен",
                info: [
                    { icon: "date", text: "13 мая 2023" },
                    { icon:"time", text:"45 минут" },
                    { icon: "headphones", text: "11 выпуск" }
                ],
                desc: "",
                link:"event.html"
            }
        ) }}
    </div>

    <div class="paginator">
        <a href="#" class="paginator__prev"></a>
        <a href="#" class="paginator__link _active">1</a>
        <a href="#" class="paginator__link">2</a>
        <a href="#" class="paginator__link">3</a>
        <a href="#" class="paginator__link">4</a>
        <a href="#" class="paginator__link">5</a>
        <a href="#" class="paginator__link">6</a>
        <a href="#" class="paginator__next"></a>
    </div>
</div>

{% endblock %}
